<div id="rekvizitler-content" class="main-content-block">
                    <!-- <p
                            class="text-[12px] font-semibold mb-4 text-[#1D222B] opacity-65 dark:text-[#FFFFFF]">
                            Özsüt Restoran Bank
                            Rekvizitləri</p> -->
                    <div class="bg-white  dark:bg-body-bg-dark rounded-[16px] pb-5 flex flex-col">
                        <!-- Özsüt Restoran Bank Rekvizitləri -->
                        <div>
                            <div class="rekvizit-cards flex gap-3 w-[100%]">
                                <!-- <div class="flex w-[50%]">
                                        <div
                                            class="flex-1 bg-[#FAFAFA] dark:bg-side-bar-bg-dark rounded-l-[12px] p-5 flex flex-col gap-3">
                                            <div
                                                class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                                Şirkətin adı</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold">
                                                Avankart
                                                QSC</div>

                                            <div
                                                class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                                Bankın adı</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold">
                                                Kapital
                                                Bank QSC</div>
                                            <div
                                                class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                                Swift</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibols">
                                                ACABA222
                                            </div>
                                            <div
                                                class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                                Hesablaşma hesabı</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] font-semibold dark:text-[#FFFFFF] break-all">
                                                AZ10NABZ013501000000056944</div>

                                        </div>

                                        <div
                                            class="flex-1 gap-5 bg-[#FAFAFA]  dark:bg-side-bar-bg-dark rounded-r-[12px] p-5 flex flex-col">
                                            <div
                                                class="border-l-[0.5px] flex flex-col gap-1.5 border-[#0000001A] pl-3">
                                                <div
                                                    class="text-[11px] font-medium  text-messages dark:text-[#FFFFFF] opacity-65">
                                                    Hüquqi ünvan</div>
                                                <div
                                                    class="text-[13px] font-semibold dark:text-[#FFFFFF] text-messages">
                                                    Azərbaycan,
                                                    Bakı, Xətai Rayonu</div>
                                            </div>
                                            <div
                                                class="border-l-[0.5px] flex flex-col gap-1.5 border-[#0000001A] pl-3">

                                                <div
                                                    class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                                    Bankın kodu</div>
                                                <div
                                                    class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                                    505000
                                                </div>
                                            </div>

                                            <div
                                                class="border-l-[0.5px] flex-col flex gap-1.5 border-[#0000001A] pl-3">

                                                <div
                                                    class="text-[11px] font-medium text-messages  dark:text-[#FFFFFF] opacity-65">
                                                    Müxbir hesabı</div>
                                                <div
                                                    class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                                    AZ10NABZ013501000000056944
                                                </div>
                                            </div>
                                            <div
                                                class="border-l-[0.5px] flex gap-1.5 flex-col border-[#0000001A] pl-3">

                                                <div
                                                    class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                                    VÖEN</div>
                                                <div
                                                    class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                                    1400057421
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex w-[50%]">
                                        <div
                                            class="flex-1 bg-[#FAFAFA] dark:bg-side-bar-bg-dark rounded-l-[12px]  p-5 flex flex-col gap-3">
                                            <div
                                                class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                                Şirkətin adı</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold">
                                                Avankart
                                                QSC</div>

                                            <div
                                                class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                                Bankın adı</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold">
                                                Kapital
                                                Bank QSC</div>
                                            <div
                                                class="text-[11px] font-medium dark:text-[#FFFFFF] text-[#1D222B] opacity-65">
                                                Swift</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibols">
                                                ACABA222
                                            </div>
                                            <div
                                                class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                                Hesablaşma hesabı</div>
                                            <div
                                                class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold break-all">
                                                AZ10NABZ013501000000056944</div>

                                        </div>

                                        <div
                                            class="flex-1 gap-5 bg-[#FAFAFA]  dark:bg-side-bar-bg-dark rounded-r-[12px] p-5 flex flex-col">
                                            <div
                                                class="border-l-[0.5px] flex flex-col gap-1.5 border-[#0000001A] pl-3">
                                                <div
                                                    class="text-[11px] font-medium dark:text-[#FFFFFF]  text-messages opacity-65">
                                                    Hüquqi ünvan</div>
                                                <div
                                                    class="text-[13px] font-semibold dark:text-[#FFFFFF] text-messages">
                                                    Azərbaycan,
                                                    Bakı, Xətai Rayonu</div>
                                            </div>
                                            <div
                                                class="border-l-[0.5px] flex flex-col gap-1.5 border-[#0000001A] pl-3">

                                                <div
                                                    class="text-[11px] font-medium dark:text-[#FFFFFF] text-messages opacity-65">
                                                    Bankın kodu</div>
                                                <div
                                                    class="text-[13px] font-semibold dark:text-[#FFFFFF] text-messages">
                                                    505000
                                                </div>
                                            </div>

                                            <div
                                                class="border-l-[0.5px] flex-col flex gap-1.5 border-[#0000001A] pl-3">

                                                <div
                                                    class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                                    Müxbir hesabı</div>
                                                <div
                                                    class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                                    AZ10NABZ013501000000056944
                                                </div>
                                            </div>
                                            <div
                                                class="border-l-[0.5px] flex gap-1.5 flex-col border-[#0000001A] pl-3">

                                                <div
                                                    class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                                    VÖEN</div>
                                                <div
                                                    class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                                    1400057421
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                            </div>
                        </div>

                        <!-- Avankart Bank Rekvizitləri -->
                        <p class="text-[12px] text-[#1D222B] dark:text-[#FFFFFF] opacity-65 font-semibold mb-4 mt-4">
                            Avankart Bank Rekvizitləri</p>
                            <% rekvizitler?.forEach(rekvizit => { %>
                        <div class="flex w-[48%] relative wrap">
                            <!-- Kart 1 -->

                            <div
                                class="flex-1 bg-[#FAFAFA] dark:bg-side-bar-bg-dark rounded-l-[12px]  p-5 flex flex-col gap-3">
                                <div class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                    Şirkətin adı</div>
                                <div class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold">
                                    <%= rekvizit.sirket_name %>
                                </div>

                                <div class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                    Bankın adı</div>
                                <div class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold">
                                    <%= rekvizit.bank_info.bank_name %>
                                </div>
                                <div
                                    class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] text-[#1D222B] opacity-65">
                                    Swift</div>
                                <div class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibols">
                                    <%= rekvizit.bank_info.swift %>
                                </div>
                                <div class="text-[11px] font-medium text-[#1D222B] dark:text-[#FFFFFF] opacity-65">
                                    Hesablaşma hesabı</div>
                                <div class="text-[13px] text-[#1D222B] dark:text-[#FFFFFF] font-semibold break-all">
                                    <%= rekvizit.bank_info.settlement_account %>
                                </div>

                            </div>
                            <!-- Kart 2 -->
                            <div
                                class="flex-1 gap-5 bg-[#FAFAFA]  dark:bg-side-bar-bg-dark rounded-r-[12px] p-5 flex flex-col">
                                <div class="border-l-[0.5px] flex flex-col gap-1.5 border-[#0000001A] pl-3">
                                    <div class="text-[11px] font-medium  text-messages dark:text-[#FFFFFF] opacity-65">
                                        Hüquqi ünvan</div>
                                    <div class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                       <%= rekvizit.huquqi_unvan %>
                                    </div>
                                </div>
                                <div class="border-l-[0.5px] flex flex-col gap-1.5 border-[#0000001A] pl-3">

                                    <div class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                        Bankın kodu</div>
                                    <div class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                        <%= rekvizit.bank_info.bank_code %>
                                    </div>
                                </div>

                                <div class="border-l-[0.5px] flex-col flex gap-1.5 border-[#0000001A] pl-3">

                                    <div
                                        class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] dark:text-[#FFFFFF] opacity-65">
                                        Müxbir hesabı</div>
                                    <div class="text-[13px] font-semibold dark:text-[#FFFFFF] text-messages">
                                        <%= rekvizit.bank_info.muxbir_hesabi %>
                                    </div>
                                </div>
                                <div class="border-l-[0.5px] flex gap-1.5 flex-col border-[#0000001A] pl-3">

                                    <div class="text-[11px] font-medium text-messages dark:text-[#FFFFFF] opacity-65">
                                        VÖEN</div>
                                    <div class="text-[13px] font-semibold text-messages dark:text-[#FFFFFF]">
                                       <%= rekvizit.voen %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>