<div class="w-full">
  <div class="flex w-full gap-3">
    <div
      class="w-[50%] mx-auto px-4 py-4 rounded-lg h-96 bg-container-2 dark:bg-container-2-dark"
    >
      <div class="flex justify-between">
        <div
          class="relative h-[35px] pl-6 pr-10 flex items-center overflow-hidden -mt-[10px]"
        >
          <div
            class="absolute w-[22px] h-[23px] rotate-65 right-0 border-r border-secondary mt-[4px]"
          ></div>
          <div
            class="font-medium text-[15px] whitespace-nowrap dark:text-primary-text-color-dark"
          >
            <%= __('index.qr')%>
          </div>
          <div
            class="absolute bottom-0 bg-[#07DBFA] w-[29px] h-[3px] -ml-2 z-[1] border-r-[3px] border-container-2 dark:border-container-2-dark border-before [clip-path:polygon(100%_0,100%_100%,0_100%,2px_0)]"
          ></div>
          <div
            class="absolute bottom-0 w-[calc(100%-39px)] border-b border-secondary mb-[1px]"
          ></div>
        </div>
        <div
          class="flex items-center w-full overflow-hidden justify-end relative"
        >
          <div class="absolute w-full z-[1] border-b border-secondary"></div>
          <div
            class="flex justify-between min-w-96 py-1 px-1 rounded-full bg-menu dark:bg-menu-dark gap-2 items-center z-[2]"
          >
            <div
              data-range="all"
              data-function="loadQrChart"
              class="tab filter-btn text-[12px] font-medium cursor-pointer text-messages dark:text-primary-text-color-dark bg-inverse-on-surface dark:bg-inverse-on-surface-dark rounded-full py-[3px] px-3 flex items-center justify-center"
            >
              <%= __('index.all')%>
            </div>
            <div
              data-range="15-days"
              data-function="loadQrChart"
              class="tab filter-btn text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.15_day')%>
            </div>
            <div
              data-range="one-month"
              data-function="loadQrChart"
              class="tab filter-btn text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.month')%>
            </div>
            <div
              data-range="three-months"
              data-function="loadQrChart"
              class="tab filter-btn text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.3_month')%>
            </div>
            <div
              data-range="six-months"
              data-function="loadQrChart"
              class="tab filter-btn text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.6_month')%>
            </div>
            <div
              data-range="year"
              data-function="loadQrChart"
              class="tab filter-btn text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.12_month')%>
            </div>
            <div
              onclick="openDateModal('qrChart', 'Tarix aralığı qeyd edərək QR kod sayını görə bilərsiniz')"
              class="tab text-[12px] font-medium cursor-pointer text-messages dark:text-primary-text-color-dark dark:hover:text-messages hover:bg-[#F6D9FF] rounded-full flex items-center gap-1 py-[3px] px-3"
            >
              <div class="icon stratis-calendar-02"></div>
              <%= __('index.custom_date')%>
            </div>
          </div>
        </div>
      </div>
      <canvas id="qrChart" class="pb-11"></canvas>
      <div
        class="text-center text-sm text-tertiary-text dark:text-tertiary-text-color-dark pt-[15px]"
      >
        <div
          class="text-center text-xs font-medium text-messages dark:text-primary-text-color-dark flex items-center justify-center gap-1 -mt-14"
        >
          <div
            class="relative overflow-hidden w-4 h-4 rounded-full bg-[#6FD195A1] flex items-center justify-center"
          >
            <div
              class="border-[1px] border-menu dark:border-menu-dark bg-[#6FD195] w-2 h-2 rounded-full z-1"
            ></div>
            <div
              class="w-full h-[2px] bg-[#6FD195] absolute top-1/2 -translate-y-1/2"
            ></div>
          </div>
          <span
            class="text-tertiary-text dark:text-tertiary-text-color-dark font-normal"
            ><%= __('index.qr')%>:</span
          >
          <span
            class="text-messages dark:text-primary-text-color-dark"
            id="qrCodeTotalCounts"
            >0</span
          >
        </div>
      </div>
    </div>
    <div
      class="w-[50%] mx-auto px-4 py-4 rounded-lg h-96 bg-container-2 dark:bg-container-2-dark"
    >
      <div class="flex justify-between">
        <div
          class="relative h-[35px] pl-6 pr-10 flex items-center overflow-hidden -mt-[10px]"
        >
          <div
            class="absolute w-[22px] h-[23px] rotate-65 right-0 border-r border-secondary mt-[4px]"
          ></div>
          <div
            class="font-medium text-[15px] whitespace-nowrap dark:text-primary-text-color-dark"
          >
            <%= __('index.hesablasma')%>
          </div>
          <div
            class="absolute bottom-0 bg-[#07DBFA] w-[29px] h-[3px] -ml-2 z-[1] border-r-[3px] border-container-2 dark:border-container-2-dark border-before [clip-path:polygon(100%_0,100%_100%,0_100%,2px_0)]"
          ></div>
          <div
            class="absolute bottom-0 w-[calc(100%-39px)] border-b border-secondary mb-[1px]"
          ></div>
        </div>
        <div
          class="flex items-center w-full overflow-hidden justify-end relative"
        >
          <div class="absolute w-full z-[1] border-b border-secondary"></div>
          <div
            class="flex justify-between min-w-96 py-1 px-1 rounded-full bg-menu dark:bg-menu-dark gap-2 items-center z-[2]"
          >
            <div
              data-range="all"
              data-function="loadHesablasmaChart"
              class="tab text-[12px] font-medium cursor-pointer text-messages dark:text-primary-text-color-dark bg-inverse-on-surface dark:bg-inverse-on-surface-dark rounded-full py-[3px] px-3 flex items-center justify-center"
            >
              <%= __('index.all')%>
            </div>
            <div
              data-range="15-days"
              data-function="loadHesablasmaChart"
              class="tab text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.15_day')%>
            </div>
            <div
              data-range="one-month"
              data-function="loadHesablasmaChart"
              class="tab text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.month')%>
            </div>
            <div
              data-range="three-months"
              data-function="loadHesablasmaChart"
              class="tab text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.3_month')%>
            </div>
            <div
              data-range="six-months"
              data-function="loadHesablasmaChart"
              class="tab text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.6_month')%>
            </div>
            <div
              data-range="year"
              data-function="loadHesablasmaChart"
              class="tab text-[12px] font-medium cursor-pointer text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark rounded-full"
            >
              <%= __('index.12_month')%>
            </div>
            <div
              onclick="openDateModal('hesablashmaChart', 'Tarix aralığı qeyd edərək Hesablaşma sayını görə bilərsiniz')"
              class="tab text-[12px] font-medium cursor-pointer text-messages dark:text-primary-text-color-dark dark:hover:text-messages hover:bg-[#F6D9FF] rounded-full flex items-center gap-1 py-[3px] px-3"
            >
              <div class="icon stratis-calendar-02"></div>
              <%= __('index.custom_date')%>
            </div>
          </div>
        </div>
      </div>
      <canvas id="hesablashmaChart"></canvas>
    </div>
  </div>
  <div class="mt-3">
    <div
      class="w-full px-4 pb-10 pt-5 rounded-lg h-[470px] bg-container-2 dark:bg-container-2-dark"
    >
      <div class="flex justify-between mb-5">
        <div
          class="relative h-[35px] pl-6 pr-10 flex items-center overflow-hidden -mt-[10px]"
        >
          <div
            class="absolute w-[22px] h-[23px] rotate-65 right-0 border-r border-secondary mt-[4px]"
          ></div>
          <div
            class="font-medium text-[15px] whitespace-nowrap dark:text-primary-text-color-dark"
          >
            <%= __('index.amount')%>
          </div>
          <div
            class="absolute bottom-0 bg-[#07DBFA] w-[29px] h-[3px] -ml-2 z-[1] border-r-[3px] border-container-2 dark:border-container-2-dark border-before [clip-path:polygon(100%_0,100%_100%,0_100%,2px_0)]"
          ></div>
          <div
            class="absolute bottom-0 w-[calc(100%-39px)] border-b border-secondary mb-[1px]"
          ></div>
        </div>

        <div id="customScroll" class="relative inline-block">
          <!-- Seçilmiş il -->
          <div
            id="yearToggle"
            class="flex items-center justify-center gap-[9px] text-[12px] text-messages dark:text-primary-text-color-dark font-normal w-20 h-[34px] py-1 px-2 rounded-full bg-menu dark:bg-menu-dark cursor-pointer border border-stroke dark:border-[#FFFFFF1A]"
          >
            <span id="selectedYear">2025</span>
            <div class="relative flex items-center justify-center mt-2">
              <div class="icon stratis-chevron-right rotate-90"></div>
            </div>
          </div>
          <!-- Dropdown menyu -->
          <div class="pr-1 relative">
            <div
              id="yearDropdown"
              class="absolute overflow-hidden pt-1 pr-1 z-10 mt-1 right-0 w-20 bg-menu dark:bg-menu-dark border-[.5px] border-stroke dark:border-[#FFFFFF1A] rounded-[8px] shadow-lg hidden"
            >
              <!-- Scroll burdadır -->
              <ul
                class="custom-scroll overflow-y-auto max-h-40 flex flex-col text-center text-[13px] text-messages dark:text-primary-text-color-dark font-medium pt-1 px-1 space-y-[2px]"
              >
                <!-- JS ilə dinamik illər buraya əlavə olunur -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <canvas id="meblegChart"></canvas>
    </div>
    <div
      class="text-center text-sm text-tertiary-text dark:text-tertiary-text-color-dark -mt-14"
    >
      <canvas id="meblegChart"></canvas>
    </div>
    <div
      class="text-center text-sm text-tertiary-text dark:text-tertiary-text-color-dark -mt-14"
    >
      <div
        class="text-center text-[12px] font-medium text-messages dark:text-primary-text-color-dark flex items-center justify-center gap-2 -mt-14"
      >
        <div
          class="relative overflow-hidden w-4 h-4 rounded-full bg-[#7086FDA1] flex items-center justify-center"
          style="background-color: #7086fda1"
        >
          <div
            class="border-[1px] border-menu dark:border-menu-dark bg-[#7086FD] w-2 h-2 rounded-full z-1"
          ></div>
          <div
            class="w-full h-[2px] bg-[#7086FD] absolute top-1/2 -translate-y-1/2"
          ></div>
        </div>
        <span
          class="text-tertiary-text dark:text-tertiary-text-color-dark font-normal"
          ><%= __('index.amount_footer')%></span
        >
        <span class="text-messages dark:text-primary-text-color-dark"
          ><span id="meblegTotal">0</span> AZN</span
        >
      </div>
    </div>
  </div>
</div>
<!-- <div class="grid grid-cols-2 w-full  gap-3 mt-4">
  <div class="w-full mx-auto px-4 py-4 rounded-lg bg-container-2">
    <div class="flex justify-between w-full">
      <div class="relative h-[35px] pl-6 pr-10 flex items-center overflow-hidden -mt-[10px]">
        <div class="absolute w-[22px] h-[23px] rotate-65 right-0 border-r border-secondary mt-[4px]"></div>
        <div class="font-medium text-[15px] whitespace-nowrap pr-6">Kartlar üzrə toplam məbləğ</div>
        <div
          class="absolute bottom-0 bg-[#07DBFA] w-[29px] h-[3px] -ml-2 z-[1] border-r-[3px] border-container-2 border-before [clip-path:polygon(100%_0,100%_100%,0_100%,2px_0)]">
        </div>
        <div class="absolute bottom-0 w-[calc(100%-39px)] border-b border-secondary mb-[1px]"></div>
      </div>
      <div class="flex items-center w-full overflow-hidden justify-end relative ">
        <div class="absolute w-full z-[1] border-b border-secondary"></div>
        <div class="flex justify-between w-96 py-1 px-1 rounded-full bg-white gap-2 items-center z-[2]">
          <div
            class="tab text-[12px] font-medium cursor-pointer text-messages bg-inverse-on-surface rounded-full py-[3px] px-3 flex items-center justify-center">
            Hamisi</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">15
            günlük</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">1
            ay</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">3
            ay</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">6
            ay</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">12
            ay</div>
          <div onclick="openDateModal()"
            class="tab text-[12px] font-medium cursor-pointer text-messages hover:bg-[#F6D9FF] rounded-full flex items-center gap-1 py-[3px] px-3">
            <div class="icon stratis-calendar-02"></div>
            Tarix əlavə et
          </div>
        </div>
      </div>

    </div>
    <div class="h-[300px] pb-2">
      <canvas id="kartlar"></canvas>
    </div>
    <div class="text-center text-sm text-tertiary-text flex gap-3 justify-center flex-wrap" id="kartlarlabels">

    </div>
  </div>
  <div class="w-full mx-auto px-4 py-4 rounded-lg h-96 bg-container-2">
    <div class="flex justify-between">
      <div class="relative h-[35px] pl-6 pr-10 flex items-center overflow-hidden -mt-[10px]">
        <div class="absolute w-[22px] h-[23px] rotate-65 right-0 border-r border-secondary mt-[4px]"></div>
        <div class="font-medium text-[15px] whitespace-nowrap">Hesablaşma</div>
        <div
          class="absolute bottom-0 bg-[#07DBFA] w-[29px] h-[3px] -ml-2 z-[1] border-r-[3px] border-container-2 border-before [clip-path:polygon(100%_0,100%_100%,0_100%,2px_0)]">
        </div>
        <div class="absolute bottom-0 w-[calc(100%-39px)] border-b border-secondary mb-[1px]"></div>
      </div>
      <div class="flex items-center w-full overflow-hidden justify-end relative ">
        <div class="absolute w-full z-[1] border-b border-secondary"></div>
        <div class="flex justify-between w-96 py-1 px-1 rounded-full bg-white gap-2 items-center z-[2]">
          <div
            class="tab text-[12px] font-medium cursor-pointer text-messages bg-inverse-on-surface rounded-full py-[3px] px-3 flex items-center justify-center">
            Hamisi</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">15
            günlük</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">1
            ay</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">3
            ay</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">6
            ay</div>
          <div class="tab text-[12px] font-medium cursor-pointer text-tertiary-text hover:text-messages rounded-full">12
            ay</div>
          <div onclick="openDateModal()"
            class="tab text-[12px] font-medium cursor-pointer text-messages hover:bg-[#F6D9FF] rounded-full flex items-center gap-1 py-[3px] px-3">
            <div class="icon stratis-calendar-02"></div>
            Tarix əlavə et
          </div>
        </div>
      </div>
    </div>
    <canvas id="hesablashmaChart2"></canvas>
  </div>
</div> -->
<div
  class="w-full px-4 py-4 rounded-lg bg-container-2 dark:bg-container-2-dark mt-[70px]"
>
  <div class="flex justify-between items-start w-full">
    <!-- Başlıq -->
    <div
      class="relative h-[35px] pl-6 pr-10 flex items-center overflow-hidden -mt-[10px]"
    >
      <div
        class="absolute w-[22px] h-[23px] rotate-65 right-0 border-r border-secondary mt-[4px]"
      ></div>
      <div
        class="font-medium text-[15px] whitespace-nowrap pr-6 dark:text-primary-text-color-dark"
      >
        <%= __('index.card_sum_amount')%>
      </div>
      <div
        class="absolute bottom-0 bg-[#07DBFA] w-[29px] h-[3px] -ml-2 z-[1] border-r-[3px] border-container-2 dark:border-container-2-dark border-before [clip-path:polygon(100%_0,100%_100%,0_100%,2px_0)]"
      ></div>
      <div
        class="absolute bottom-0 w-[calc(100%-39px)] border-b border-secondary mb-[1px]"
      ></div>
    </div>
    <div class="flex gap-3">
      <!-- Clickable Kartlar dropdown -->
      <div class="flex items-center relative mt-2">
        <div id="kartlarCustomScroll" class="relative inline-block">
          <div
            onclick="openKartlarModal()"
            class="flex items-center justify-center gap-[9px] text-[12px] text-messages dark:text-primary-text-color-dark font-normal w-20 h-[34px] py-1 px-2 rounded-full bg-menu dark:bg-menu-dark cursor-pointer border border-stroke dark:border-[#FFFFFF1A]"
          >
            <span><%= __('index.cards')%></span>
            <div class="relative flex items-center justify-center mt-2">
              <div class="icon stratis-chevron-right rotate-90"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Clickable İllər dropdown -->
      <div class="flex items-center relative mt-2">
        <div id="kartlarCustomScroll" class="relative inline-block">
          <div
            onclick="openIllerModal()"
            class="flex items-center justify-center gap-[9px] text-[12px] text-messages dark:text-primary-text-color-dark font-normal w-20 h-[34px] py-1 px-2 rounded-full bg-menu dark:bg-menu-dark cursor-pointer border border-stroke dark:border-[#FFFFFF1A]"
          >
            <span><%= __('index.years')%></span>
            <div class="relative flex items-center justify-center mt-2">
              <div class="icon stratis-chevron-right rotate-90"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Qrafiklər -->
  <div class="flex gap-4 h-[300px] pb-5">
    <!-- Sol: Xətti qrafik və alt label -->
    <div class="w-3/5 flex flex-col">
      <canvas id="kartlar" class="w-full h-full"></canvas>
      <!-- Etiketlər buraya daxil edildi -->
      <div
        class="text-center text-sm text-tertiary-text dark:text-tertiary-text-color-dark flex gap-3 justify-center flex-wrap mt-3"
        id="kartlarlabels"
      >
        <!-- Dinamik etiketlər -->
      </div>
    </div>

    <!-- Sağ: Dairəvi qrafik -->
    <div class="w-2/5 relative flex items-center justify-center">
      <canvas id="mebglegDoughnutChart" class="w-full h-full"></canvas>
      <div
        class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center"
      >
        <div
          class="text-[12px] text-tertiary-text dark:text-tertiary-text-color-dark"
        ></div>
        <div class="text-[20px] font-bold"></div>
      </div>
    </div>
  </div>

  <!-- Etiketlər -->
  <div
    class="text-center text-sm text-tertiary-text dark:text-tertiary-text-color-dark flex gap-3 justify-center flex-wrap mt-3"
    id="kartlarlabels"
  >
    <!-- Dinamik etiketlər -->
  </div>
</div>

<!-- Date Modal -->
<div id="dateModal"></div>

<!-- Data table -->
<div
  class="mt-3 bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-[12px] pt-3 pb-[32px] px-[26px]"
>
  <div class="flex flex-col gap-3">
    <div
      class="pb-3 flex items-center justify-between border-b-[.5px] border-stroke dark:border-[#FFFFFF1A"
      ]
    >
      <div
        class="text-[17px] text-messages dark:text-primary-text-color-dark font-semibold pt-[5px]"
      >
        <%= __('index.transaction')%>
      </div>
      <div class="flex items-center gap-2">
        <div
          class="relative flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full focus-within:border-focus dark:focus-within:border-focus-color-dark hover:bg-input-hover dark:hover:bg-input-hover-dark"
        >
          <input id="customSearch" type="text" placeholder="<%=__('index.search_placeholder')%>" class="w-full h-full bg-transparent
          border-none focus:outline-none outline-none ring-0 focus:ring-0
          text-[13px] placeholder:text-on-surface-variant-dark
          dark:placeholder:text-on-surface-variant-dark" />
          <div class="absolute right-3">
            <div
              class="icon stratis-search-02 dark:text-primary-text-color-dark"
            ></div>
          </div>
        </div>

        <div
          onclick="refreshTransactionsTable()"
          class="w-[155px] cursor-pointer overflow-hidden border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]"
        >
          <span href="#"><%= __('index.table_reload')%></span>
          <span
            href="#"
            class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"
          ></span>
      </div>
        <div
          onclick="openFilterModal()"
          class="w-[92px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]"
        >
          <a
            href="#"
            class="icon stratis-filter text-messages dark:text-primary-text-color-dark mt-[2.5px]"
          ></a>
          <a href="#" class=""><%= __('index.filter')%></a>
        </div>
      </div>
    </div>
    <table
      id="myTable"
      class="table-fixed border-separate border-spacing-0 w-full"
    >
      <thead class="border-none pb-0.5">
        <tr
          class="bg-container-2 dark:bg-container-2-dark border-none text-xs text-tertiary-text dark:text-tertiary-text-color-dark font-base"
        >
          <th class="px-4 py-2 filtering"><%= __('index.transaction_id')%></th>
          <th class="px-4 py-2 filtering"><%= __('index.receiver_id')%></th>
          <th class="px-4 py-2 filtering"><%= __('index.card_name')%></th>
          <th class="px-4 py-2 filtering"><%= __('index.amount')%></th>
          <th class="px-4 py-2 filtering">
            <%= __('index.transaction_date')%>
          </th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div class="pt-2">
    <div
      class="w-full bg-sidebar-bg dark:bg-container-2-dark rounded-t-[8px] px-6 flex flex-col gap-3"
    >
      <div class="py-5 flex items-center justify-between">
        <div class="text-[13px] flex items-center gap-2">
          <span
            class="font-normal opacity-65 dark:text-secondary-text-color-dark"
            ><%= __('index.page_count')%></span
          >
          <span
            id="pageCount"
            class="font-medium dark:text-primary-text-color-dark"
            >1 / 49</span
          >
        </div>
        <div class="max-w-[584px] flex items-center gap-5">
          <div>
            <div
              id="customPagination"
              class="flex items-center text-[13px]"
            ></div>
          </div>
          <div>
            <input class="page-input w-[63px] h-[32px] text-[12px] text-center
            text-on-surface-variant-dark dark:text-on-surface-variant-dark
            font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover
            dark:hover:bg-input-hover-dark border border-stroke
            dark:border-[#FFFFFF1A] rounded-[8px]" type="text" placeholder=<%=
            __('index.page_placeholder')%> />
            <a
              href="#"
              class="go-button text-[13px] text-body-bg dark:text-on-primary-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]"
              ><%= __('index.go_button')%>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/popup/homePopups', muessise) %> <% scripts = `
<script>
  window.dashboardCards = ${JSON.stringify(cards)};
</script>
<script src="/js/dashboard/chart.js"></script>
<script src="/js/dashboard/dashboard.js"></script>
<script src="/js/datatables/datatables.min.js"></script>
<script src="/js/dashboard/dashboardTable.js"></script>
` %>
