<div class="flex flex-col gap-3">
                    <div
                        class="flex items-center gap-3 text-[13px] text-messages dark:text-primary-text-color-dark font-medium">
                        <div class="flex items-center gap-2">
                            <a href="#" class="cursor-pointer hover:text-primary text-[13px] font-medium">Admin
                                Panel</a>
                            <div class="icon stratis-slash-01-forward"></div>
                        </div>
                        <div class="flex items-center gap-2">
                            <a href="#" class="text-tertiary-text dark:text-tertiary-text-color-dark">Müraciətlər</a>
                        </div>
                    </div>
                    <div class="flex flex-col gap-3">
                        <div
                            class="pb-3 flex items-center justify-between border-b-[.5px] border-stroke dark:border-[#FFFFFF1A] mt-[15px]">
                            <div class="text-[15px] text-messages font-medium">
                                <div
                                    class="inline-flex gap-1 items-center border border-surface-variant dark:border-surface-variant-dark rounded-full p-1">

                                    <button data-tab="company-requests"
                                        class="active text-messages bg-inverse-on-surface dark:bg-surface-variant-dark text-[12px] font-medium rounded-full py-[3px] px-3">
                                        Şirkət müraciətləri
                                    </button>

                                    <button data-tab="enterprise-requests"
                                        class="text-tertiary-text dark:text-tertiary-text-color-dark text-[12px] font-medium rounded-full py-[3px] px-3 cursor-pointer">
                                        Müəssisə müraciətləri
                                    </button>

                                    <button data-tab="enterprise-categories"
                                        class="text-tertiary-text dark:text-tertiary-text-color-dark text-[12px] font-medium rounded-full py-[3px] px-3 cursor-pointer">
                                        Müəssisə kateqoriyaları
                                    </button>
                                </div>
                            </div>

                            <div id="company-requests-side" class="side-content block">
                                <div class="flex items-center gap-2">
                                    <!-- Search -->
                                    <div class="relative flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden
        focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
        focus-within:ring-0 focus-within:outline-none
        active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
        transition-all ease-out duration-300
        hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                        <input id="companyRequestsSearch" type="text" placeholder="Search..." class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0
            text-[13px] text-messages dark:text-primary-text-color-dark
            placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]">
                                        <div class="absolute right-3">
                                            <div class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                                        </div>
                                    </div>

                                    <!-- Refresh -->
                                    <div id="companyRequestsRefresh" class="w-[155px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                        <span class="font-medium text-[13px]">Səhifəni yenilə</span>
                                        <span
                                            class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"></span>
                                    </div>

                                    <!-- Filter -->
                                    <div id="companyRequestsFilter" class="w-[103px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]"
                                        onclick="toggleCompanyRequestsFilterModal()">
                                        <span
                                            class="icon stratis-filter text-messages dark:text-primary-text-color-dark mt-[2.5px]"></span>
                                        <span>Filter</span>
                                    </div>

                                    <!-- Export Excel -->
                                    <div id="companyRequestsExportExcel" class="w-[141px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-success font-medium py-[6.5px] px-[18px]">
                                        <img src="/images/Avankart/avankartAdminPanel-images/excel.svg"
                                            alt="Excel">
                                        <span>Excelə çıxart</span>
                                    </div>
                                </div>
                            </div>
                            <div id="enterprise-requests-side" class="side-content hidden">
                                <div class="flex items-center gap-2" id="enterprise-requests-actions">
                                    <!-- Search -->
                                    <div class="relative flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden
        focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
        focus-within:ring-0 focus-within:outline-none
        active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
        transition-all ease-out duration-300
        hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                        <input id="enterpriseRequestsSearch" type="text" placeholder="Search..." class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0
            text-[13px] text-messages dark:text-primary-text-color-dark
            placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]">
                                        <div class="absolute right-3">
                                            <div class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                                        </div>
                                    </div>

                                    <!-- Refresh -->
                                    <div id="enterpriseRequestsRefresh" class="w-[155px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                        <span class="font-medium text-[13px]">Səhifəni yenilə</span>
                                        <span
                                            class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"></span>
                                    </div>

                                    <!-- Filter -->
                                    <div id="enterpriseRequestsFilter" class="w-[103px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]"
                                        onclick="toggleEnterpriseRequestsFilterModal()">
                                        <span
                                            class="icon stratis-filter text-messages dark:text-primary-text-color-dark mt-[2.5px]"></span>
                                        <span>Filter</span>
                                    </div>

                                    <!-- Export Excel -->
                                    <div id="enterpriseRequestsExportExcel" class="w-[141px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                        <img src="/images/Avankart/avankartAdminPanel-images/excel.svg"
                                            alt="Excel">
                                        <span>Excelə çıxart</span>
                                    </div>
                                </div>
                            </div>
                            <div id="enterprise-categories-side" class="side-content hidden">
                                <div class="flex items-center gap-2" id="enterprise-categories-actions">
                                    <!-- Search -->
                                    <div class="relative flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden
        focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
        focus-within:ring-0 focus-within:outline-none
        active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
        transition-all ease-out duration-300
        hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                        <input id="enterpriseCategoriesSearch" type="text" placeholder="Search..."
                                            class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0
            text-[13px] text-messages dark:text-primary-text-color-dark
            placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]">
                                        <div class="absolute right-3">
                                            <div class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                                        </div>
                                    </div>

                                    <!-- Refresh -->
                                    <div id="enterpriseCategoriesRefresh" class="w-[155px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                        <span class="font-medium text-[13px]">Səhifəni yenilə</span>
                                        <span
                                            class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"></span>
                                    </div>

                                    <!-- Filter -->
                                    <div id="enterpriseCategoriesFilter" class="w-[103px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full 
        flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark 
        hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]"
                                        onclick="toggleEnterpriseCategoriesFilterModal()">
                                        <span
                                            class="icon stratis-filter text-messages dark:text-primary-text-color-dark mt-[2.5px]"></span>
                                        <span>Filter</span>
                                    </div>

                                    <!-- Export Excel -->
                                    <div id="enterpriseCategoriesExportExcel"
                                        class="w-[171px] cursor-pointer border border-surface-variant rounded-full flex items-center justify-center gap-2 text-[13px] text-on-primary bg-primary hover:bg-focus font-medium py-[6.5px] px-[18px]"
                                        onclick="toggleEditModal()">
                                        <span class="icon stratis-edit-03 text-on-primary"></span>
                                        <span>Kateqoriya yarat</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div id="company-requests" class="tab-content block">
                                <table id="companyRequestsTable" class="table-fixed w-full border-collapse">
                                    <thead class="border-none pb-1">
                                        <tr
                                            class="bg-container-2 dark:bg-container-2-dark border-none text-[12px] text-secondary-text dark:text-secondary-text-color-dark font-normal">
                                            <th
                                                class="w-[5%] border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 rounded-l-lg">
                                                <input type="checkbox" id="companyRequestsCheckbox" class="peer hidden">
                                                <label for="companyRequestsCheckbox"
                                                    class="cursor-pointer bg-menu dark:bg-menu-dark border border-surface-variant dark:border-surface-variant-dark rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary dark:text-menu-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-80 mt-[2px] hidden peer-checked:block">
                                                    </div>
                                                </label>
                                            </th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[12%] filtering">
                                                Şirkət adı</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[10%] filtering">
                                                İşçi sayı</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[12%] filtering">
                                                E-poçt adresi</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[39%] filtering">
                                                Müraciət mesajı</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[12%] filtering">
                                                Telefon nömrəsi</th>
                                            <th class="whitespace-nowrap w-[10%] rounded-r-lg">Müraciət tarixi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="pt-2">
                                    <div
                                        class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
                                        <div class="py-5 flex items-center justify-between">
                                            <div class="text-[13px] flex items-center gap-2">
                                                <span class="font-normal opacity-65">Səhifə sayı:</span>
                                                <span id="companyRequestsPageCount" class="font-medium">1 / 1</span>
                                            </div>
                                            <div class="flex items-center gap-5">
                                                <div>
                                                    <div id="companyRequestsPagination" class="flex items-center">
                                                        <div class="flex items-center justify-center pr-[42px] h-8 ms-0 leading-tight opacity-50 cursor-not-allowed"
                                                            onclick="changeCompanyRequestsPage(0)">
                                                            <div class="icon stratis-chevron-left !h-[12px] !w-[7px]">
                                                            </div>
                                                        </div>
                                                        <div class="flex gap-2">
                                                            <button class="cursor-pointer w-10 text-[13px] h-10 rounded-[8px] hover:text-messages
                                bg-[#F6D9FF] text-messages" onclick="changeCompanyRequestsPage(0)">1</button>
                                                        </div>
                                                        <div class="flex items-center justify-center h-8 ms-0 pl-[42px] leading-tight opacity-50 cursor-not-allowed"
                                                            onclick="changeCompanyRequestsPage(0)">
                                                            <div class="icon stratis-chevron-right !h-[12px] !w-[7px]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input class="company-requests-page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:text-[#636B6F] font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px]
                      focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                      active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                      transition-all ease-out duration-300" type="text" placeholder="Səhifə" />
                                                    <a href="#"
                                                        class="company-requests-go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="enterprise-requests" class="tab-content hidden">
                                <table id="enterpriseRequestsTable" class="table-fixed w-full border-collapse">
                                    <thead class="border-none pb-1">
                                        <tr
                                            class="bg-container-2 dark:bg-container-2-dark border-none text-[12px] text-secondary-text dark:text-secondary-text-color-dark font-normal">
                                            <th
                                                class="w-[5%] border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 rounded-l-lg">
                                                <input type="checkbox" id="enterpriseRequestsCheckbox"
                                                    class="peer hidden">
                                                <label for="enterpriseRequestsCheckbox"
                                                    class="cursor-pointer bg-menu dark:bg-menu-dark border border-surface-variant dark:border-surface-variant-dark rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary dark:text-menu-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition">
                                                    <div
                                                        class="icon stratis-check-01 scale-80 mt-[2px] hidden peer-checked:block">
                                                    </div>
                                                </label>
                                            </th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[12%] filtering">
                                                Müəssisə adı</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[10%] filtering">
                                                Kateqoriya</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[12%] filtering">
                                                E-poçt adresi</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[39%] filtering">
                                                Müraciət mesajı</th>
                                            <th
                                                class="whitespace-nowrap border-r-[.5px] border-r-stroke w-[12%] filtering">
                                                Telefon nömrəsi</th>
                                            <th class="whitespace-nowrap w-[10%] rounded-r-lg">Müraciət tarixi</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="pt-2">
                                    <div
                                        class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
                                        <div class="py-5 flex items-center justify-between">
                                            <div class="text-[13px] flex items-center gap-2">
                                                <span class="font-normal opacity-65">Səhifə sayı:</span>
                                                <span id="enterpriseRequestsPageCount" class="font-medium">1 / 1</span>
                                            </div>
                                            <div class="flex items-center gap-5">
                                                <div>
                                                    <div id="enterpriseRequestsPagination" class="flex items-center">
                                                        <div class="flex items-center justify-center pr-[42px] h-8 ms-0 leading-tight opacity-50 cursor-not-allowed"
                                                            onclick="changeEnterpriseRequestsPage(0)">
                                                            <div class="icon stratis-chevron-left !h-[12px] !w-[7px]">
                                                            </div>
                                                        </div>
                                                        <div class="flex gap-2">
                                                            <button
                                                                class="cursor-pointer w-10 text-[13px] h-10 rounded-[8px] hover:text-messages bg-[#F6D9FF] text-messages"
                                                                onclick="changeEnterpriseRequestsPage(0)">1</button>
                                                        </div>
                                                        <div class="flex items-center justify-center h-8 ms-0 pl-[42px] leading-tight opacity-50 cursor-not-allowed"
                                                            onclick="changeEnterpriseRequestsPage(0)">
                                                            <div class="icon stratis-chevron-right !h-[12px] !w-[7px]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input
                                                        class="enterprise-requests-page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:text-[#636B6F] font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px] focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300"
                                                        type="text" placeholder="Səhifə" />
                                                    <a href="#"
                                                        class="enterprise-requests-go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="enterprise-categories" class="tab-content hidden">
                                <table id="enterpriseCategoriesTable" class="table-fixed w-full border-collapse">
                                    <thead class="border-none pb-1">
                                        <tr
                                            class="bg-container-2 dark:bg-container-2-dark border-none text-[12px] text-secondary-text dark:text-secondary-text-color-dark font-normal">
                                            <th class="whitespace-nowrap rounded-l-lg filtering">
                                                Kateqoriya adı</th>
                                            <th class="whitespace-nowrap">Yaranma tarixi</th>
                                            <th class="whitespace-nowrap w-10 rounded-r-lg"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="pt-2">
                                    <div
                                        class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
                                        <div class="py-5 flex items-center justify-between">
                                            <div class="text-[13px] flex items-center gap-2">
                                                <span class="font-normal opacity-65">Səhifə sayı:</span>
                                                <span id="enterpriseRequestsPageCount" class="font-medium">1 / 1</span>
                                            </div>
                                            <div class="flex items-center gap-5">
                                                <div>
                                                    <div id="enterpriseCategoriesPagination" class="flex items-center">
                                                        <div class="flex items-center justify-center pr-[42px] h-8 ms-0 leading-tight opacity-50 cursor-not-allowed"
                                                            onclick="changeEnterpriseCategoriesPage(0)">
                                                            <div class="icon stratis-chevron-left !h-[12px] !w-[7px]">
                                                            </div>
                                                        </div>
                                                        <div class="flex gap-2">
                                                            <button
                                                                class="cursor-pointer w-10 text-[13px] h-10 rounded-[8px] hover:text-messages bg-[#F6D9FF] text-messages"
                                                                onclick="changeEnterpriseCategoriesPage(0)">1</button>
                                                        </div>
                                                        <div class="flex items-center justify-center h-8 ms-0 pl-[42px] leading-tight opacity-50 cursor-not-allowed"
                                                            onclick="changeEnterpriseCategoriesPage(0)">
                                                            <div class="icon stratis-chevron-right !h-[12px] !w-[7px]">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input
                                                        class="enterprise-categories-page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:text-[#636B6F] font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px] focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300"
                                                        type="text" placeholder="Səhifə" />
                                                    <a href="#"
                                                        class="enterprise-categories-go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <div id="companyRequestsFilterPop"
        class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="w-[450px] font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
            <form onsubmit="return false;" data-url="/hesablashmalar/datatable" id="companyRequestsFilterForm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-[15px] font-medium">Filter</div>
                        <div onclick="toggleCompanyRequestsFilterModal()"
                            class="icon stratis-x-02 text-xs cursor-pointer dark:hidden"></div>
                    </div>
                </div>
                <div class="flex flex-col gap-2 pt-3 pb-8">
                    <div>
                        <span class="text-[12px] font-medium opacity-65 dark:text-white">Tarix aralığı</span>
                        <div class="flex items-center gap-3">
                            <div class="w-1/2">
                                <div onclick="openDatePicker('companyRequestsStartDate')"
                                    class="relative w-[195px] group">
                                    <input id="companyRequestsStartDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
                                    hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="start_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50"></div>
                                    <div class="text-[11px] font-normal opacity-50">Başlanğıc tarixini qeyd edin</div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div onclick="openDatePicker('companyRequestsEndDate')"
                                    class="relative w-[195px] group">
                                    <input id="companyRequestsEndDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
                                    hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="end_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50"></div>
                                    <div class="text-[11px] font-normal opacity-50">Son tarixi qeyd edin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="text-[12px] font-medium opacity-65">İşçi say aralığı</span>
                        <div class="value-container mt-2">
                            <span id="min-value-company"
                                class="value-label text-[13px] text-messages font-medium"></span>
                            <span id="max-value-company"
                                class="value-label text-[13px] text-messages font-medium"></span>
                        </div>
                        <div id="slider-range-company" class="mt-2"></div>
                        <div class="flex items-center justify-between text-[11px] opacity-50 font-medium mt-2">
                            <span>Min</span>
                            <span>Max</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-3">
                    <button type="button"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                        onclick="toggleCompanyRequestsFilterModal()">Bağla</button>
                    <button type="reset" onclick="clearCompanyRequestsFilters()"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                        təmizlə</button>
                    <button onclick="applyCompanyRequestsFilters()" type="button"
                        class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">Filterlə</button>
                </div>
            </form>
        </div>
    </div>

    <div id="enterpriseRequestsFilterPop"
        class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="w-[450px] font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
            <form onsubmit="return false;" data-url="/hesablashmalar/datatable" id="enterpriseRequestsFilterForm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-[15px] font-medium">Filter</div>
                        <div onclick="toggleEnterpriseRequestsFilterModal()"
                            class="icon stratis-x-02 text-xs cursor-pointer dark:hidden"></div>
                    </div>
                </div>
                <div class="flex flex-col gap-2 pt-3 pb-8">
                    <div>
                        <span class="text-[12px] font-medium opacity-65 dark:text-white">Tarix aralığı</span>
                        <div class="flex items-center gap-3">
                            <div class="w-1/2">
                                <div onclick="openDatePicker('enterpriseRequestsStartDate')"
                                    class="relative w-[195px] group">
                                    <input id="enterpriseRequestsStartDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
                                hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="start_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50"></div>
                                    <div class="text-[11px] font-normal opacity-50">Başlanğıc tarixini qeyd edin</div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div onclick="openDatePicker('enterpriseRequestsEndDate')"
                                    class="relative w-[195px] group">
                                    <input id="enterpriseRequestsEndDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
                                hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="end_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50"></div>
                                    <div class="text-[11px] font-normal opacity-50">Son tarixi qeyd edin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="text-[12px] font-medium opacity-65">Kart kateqoriyası</span>
                        <div class="mt-[6px]">
                            <div class="flex items-center flex-wrap gap-4">
                                <% categories.forEach((category, index) => { %>
                                <label for="cbx-<%= category._id %>"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-<%= category._id %>" class="peer hidden" name="card_category"
                                        value="<%= category._id %>">
                                    <div class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary
           peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div><%= category.title %></div>
                                </label>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-3">
                    <button type="button"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                        onclick="toggleEnterpriseRequestsFilterModal()">Bağla</button>
                    <button type="reset" onclick="clearEnterpriseRequestsFilters()"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                        təmizlə</button>
                    <button onclick="applyEnterpriseRequestsFilters()" type="button"
                        class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">Filterlə</button>
                </div>
            </form>
        </div>
    </div>

    <div id="enterpriseCategoriesFilterPop"
        class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="w-[450px] font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
            <form onsubmit="return false;" data-url="/hesablashmalar/datatable" id="enterpriseCategoriesFilterForm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-[15px] font-medium">Kateqoriya Filteri</div>
                        <div onclick="toggleEnterpriseCategoriesFilterModal()"
                            class="icon stratis-x-02 text-xs cursor-pointer dark:hidden"></div>
                    </div>
                </div>
                <div class="flex flex-col gap-2 pt-3 pb-8">
                    <div>
                        <span class="text-[12px] font-medium opacity-65 dark:text-white">Tarix aralığı</span>
                        <div class="flex items-center gap-3">
                            <div class="w-1/2">
                                <div onclick="openDatePicker('enterpriseCategoriesStartDate')"
                                    class="relative w-[195px] group">
                                    <input id="enterpriseCategoriesStartDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
                                    hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="categories_start_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50"></div>
                                    <div class="text-[11px] font-normal opacity-50">Başlanğıc tarixini qeyd edin</div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div onclick="openDatePicker('enterpriseCategoriesEndDate')"
                                    class="relative w-[195px] group">
                                    <input id="enterpriseCategoriesEndDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
                                    hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="categories_end_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50"></div>
                                    <div class="text-[11px] font-normal opacity-50">Son tarixi qeyd edin</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span class="text-[12px] font-medium opacity-65">Kart kateqoriyası</span>
                        <div class="mt-[6px]">
                            <div class="flex items-center flex-wrap gap-4">
                                <label for="cbx-cat-muessise"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-cat-muessise" class="peer hidden"
                                        name="category_filter" value="Müəssisə">
                                    <div class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
               peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Müəssisə</div>
                                </label>
                                <label for="cbx-cat-sirket"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-cat-sirket" class="peer hidden"
                                        name="category_filter" value="Şirkət">
                                    <div class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
               peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Şirkət</div>
                                </label>
                                <label for="cbx-cat-restoran"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-cat-restoran" class="peer hidden"
                                        name="category_filter" value="Restoranlar">
                                    <div class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
               peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Restoranlar</div>
                                </label>
                                <label for="cbx-cat-kinoteatr"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-cat-kinoteatr" class="peer hidden"
                                        name="category_filter" value="Kinoteatrlar">
                                    <div class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
               peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Kinoteatrlar</div>
                                </label>
                                <label for="cbx-cat-coffeeshop"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-cat-coffeeshop" class="peer hidden"
                                        name="category_filter" value="CoffeShop">
                                    <div class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
               peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>CoffeShop</div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-3">
                    <button type="button"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                        onclick="toggleEnterpriseCategoriesFilterModal()">Bağla</button>
                    <button type="reset" onclick="clearEnterpriseCategoriesFilters()"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                        təmizlə</button>
                    <button onclick="applyEnterpriseCategoriesFilters()" type="button"
                        class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">Filterlə</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="bg-body-bg w-[306px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px]">
            <div class="flex flex-col p-3">
                <div
                    class="flex items-center dark:bg-[#2E3135] justify-center w-[40px] h-[40px] cursor-pointer bg-error-hover rounded-[50%]">
                    <div class="iconex iconex-trash-can-1 w-5 h-5 text-error dark:text-[#FFFFFF]"></div>
                </div>

                <h2 class="text-messages font-medium text-[15px] dark:text-white pt-3">
                    Sil
                </h2>
                <div
                    class="flex flex-wrap pb-4 gap-[3px] font-normal text-[13px] leading-[160%] font-poppins text-messages opacity-100">
                    <span class="font-medium opacity-65 dark:text-[#FFFFFFA6] ">Seçilən sualı silmək istədiyinizə
                        əminsiniz?</span>
                </div>
                <div class="flex justify-end gap-3">
                    <button onclick="toggleDeleteModal()"
                        class="text-[12px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] cursor-pointer">
                        Xeyr
                    </button>
                    <button
                        class="text-[12px] text-on-primary font-medium bg-error rounded-[50px] !w-[64px] !h-[25px] cursor-pointer">
                        Bəli, sil
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="editModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div class="w-[450px] rounded-xl shadow-lg bg-white p-6 mx-auto">
            <div class="flex justify-center mb-4">
                <div class="w-12 h-12 bg-gray-100 rounded-full flex items-center justify-center modal-icon">
                    <div class="iconex iconex-case-1 w-5 h-5"></div>
                </div>
            </div>
            <h2 id="modal-title" class="text-center text-[17px] font-semibold text-[#1D222B] mb-1">
                Yeni kateqoriya
            </h2>
            <p id="modal-description" class="text-center text-[13px] font-normal text-secondary-text mb-6">
                Kateqoriya adını aşağıda qeyd edin
            </p>

            <div
                class="flex mx-auto w-fit gap-1 items-center border border-surface-variant dark:border-surface-variant-dark rounded-full p-1">
                <button onclick="toggleLanguage(this)"
                    class="lang-btn active text-messages dark:text-primary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark text-[12px] font-medium bg-inverse-on-surface dark:bg-surface-variant-dark rounded-full py-[3px] px-3">
                    Azərbaycan
                </button>
                <button onclick="toggleLanguage(this)"
                    class="lang-btn text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark text-[12px] font-medium rounded-full py-[3px] px-3 cursor-pointer">
                    Türkçə
                </button>
                <button onclick="toggleLanguage(this)"
                    class="lang-btn text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark text-[12px] font-medium rounded-full py-[3px] px-3 cursor-pointer">
                    English
                </button>
                <button onclick="toggleLanguage(this)"
                    class="lang-btn text-tertiary-text dark:text-tertiary-text-color-dark hover:text-messages dark:hover:text-primary-text-color-dark text-[12px] font-medium rounded-full py-[3px] px-3 cursor-pointer">
                    Russian
                </button>
            </div>

            <div class="text-center">
                <input type="text" placeholder="Müəssisə kateqoriyası" id="categoryInput"
                    class="w-[326px] text-center rounded-lg px-4 my-8 text-[24px] text-[#1D222B] focus:outline-none border-none ring-0 placeholder-[#BFC8CC] placeholder:text-[24px] modal-link-input" />
            </div>

            <button id="saveButton"
                class="w-full cursor-pointer bg-primary text-on-primary border-none rounded-full flex items-center justify-center gap-2 text-[13px] hover:bg-focus dark:hover:bg-focus-color-dark font-medium py-[6.5px] px-[18px]">
                <span>Yarat</span>
            </button>
            <div onclick="toggleEditModal()"
                class="w-full mt-2 cursor-pointer bg-surface-bright text-on-surface-variant border-none rounded-full flex items-center justify-center gap-2 text-[13px] font-medium py-[6.5px] px-[18px]">
                <span>Ləğv et</span>
            </div>
        </div>
    </div>

    <% scripts = `
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/datatables/datatables.min.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/avankartMuracietler.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/companyRequests.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/companyRequestsTable.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/enterpriseRequestsTable.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/enterpriseRequests.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/enterpriseCategoriesTable.js"></script>
    <script src="/js/Avankart/avankart.az/avankartMuracietler/openDatePicker.js"></script>
  `; %> 
  <% styles = `
<style>
        #companyRequestsTable tbody::before {
            content: "";
            display: table-row;
            height: 8px;
            /* boşluq hündürlüyü */
        }

        #enterpriseRequestsTable tbody::before {
            content: "";
            display: table-row;
            height: 8px;
            /* boşluq hündürlüyü */
        }

        .dt-column-order {
            display: none !important;
        }

        table,
        thead,
        table.dataTable>thead>tr>th,
        table.dataTable>thead>tr>td,
        table.dataTable>tbody>tr:last-child>*,
        div.dt-container.dt-empty-footer tbody>tr:last-child>* {
            border: none;
            font-weight: 400;
        }

        table.dataTable th.dt-type-numeric,
        table.dataTable th.dt-type-date,
        table.dataTable td.dt-type-date {
            text-align: left;
        }

        /* Yalnız sidebar scroll üçün */
        #sidebar .overflow-y-auto::-webkit-scrollbar {
            width: 0px;
            /* Scroll barı tam gizlə */
        }

        #sidebar .overflow-y-auto {
            scrollbar-width: none;
            /* Firefox üçün */
            -ms-overflow-style: none;
            /* IE 10+ üçün */
        }

        /* Bu hissəni öz CSS faylında əlavə et */
        .custom-scroll::-webkit-scrollbar {
            width: 6px;
        }

        .custom-scroll::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        .custom-scroll::-webkit-scrollbar-track {
            background-color: transparent;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        /* Main container styles */
        .slider-container {
            width: 100%;
            max-width: 800px;
        }

        /* Value display container */
        .value-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        /* Custom slider styles */
        #slider-range-company {
            height: 6px;
            border: none;
            background: #9c78ae;
            /* Purple background for the entire track */
            border-radius: 3px;
        }

        /* Slider range (colored part between handles) */
        #slider-range-company .ui-slider-range {
            background: #e6e6e6;
            /* Gray color for area between handles */
        }

        /* Slider handles */
        #slider-range-company .ui-slider-handle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            border: 4px solid #745086;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            outline: none;
            top: -7px;
            margin-left: -10px;
        }
    </style>
  `; %>