    <style>
        .dt-column-order {
            display: none !important;
        }

        table,
        thead,
        table.dataTable>thead>tr>th,
        table.dataTable>thead>tr>td,
        table.dataTable>tbody>tr:last-child>*,
        div.dt-container.dt-empty-footer tbody>tr:last-child>* {
            border: none;
            font-weight: 400;
        }

        table.dataTable th.dt-type-numeric,
        table.dataTable th.dt-type-date,
        table.dataTable td.dt-type-date {
            text-align: left;
        }

        #sidebar .overflow-y-auto {
            scrollbar-width: none;
            /* Firefox üçün */
            -ms-overflow-style: none;
            /* IE 10+ üçün */
        }

        /* Bu hissəni öz CSS faylında əlavə et */
        .custom-scroll::-webkit-scrollbar {
            width: 4px;
        }

        .custom-scroll::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        .custom-scroll::-webkit-scrollbar-track {
            background-color: transparent;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        /* Main container styles */
        .slider-container {
            width: 100%;
            max-width: 800px;
        }

        /* Value display container */
        .value-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        /* Custom slider styles */
        #slider-range {
            height: 6px;
            border: none;
            background: #9c78ae;
            /* Purple background for the entire track */
            border-radius: 3px;
        }

        /* Slider range (colored part between handles) */
        #slider-range .ui-slider-range {
            background: #e6e6e6;
            /* Gray color for area between handles */
        }

        /* Slider handles */
        #slider-range .ui-slider-handle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            border: 4px solid #745086;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            outline: none;
            top: -7px;
            margin-left: -10px;
        }
    </style><div>
                    <div
                        class="flex items-center gap-3 text-[13px] text-messages dark:text-primary-text-color-dark font-medium">
                        <div class="flex items-center gap-2">
                            <a href="/"
                                class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">Avankart</a>
                            <div class="icon stratis-slash-01-forward"></div>
                        </div>
                        <div class="flex items-center gap-2">
                            <a href="/emeliyyatlar/sirket/eqaime"
                                class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">Şirkət</a>
                            <div class="icon stratis-slash-01-forward"></div>
                        </div>
                        <div class="flex items-center gap-2">
                            <span
                                class="text-tertiary-text dark:text-tertiary-text-color-dark cursor-default">E-qaimə</span>
                        </div>
                    </div>
                    <div class="bg-sidebar-bg mt-3 p-3 rounded-lg h-[69px]">
                        <div class="flex gap-3 text-message b-2 w-full">
                            <div class="border-r-[0.5px] border-[#0000001A] max-w-[220px] w-full">
                                <div class="flex items-center gap-2.5">
                                    <div class="bg-table-hover w-[40px] h-[40px] rounded-[50%]">
                                        <div class="p-2">
                                            <img src="https://company.avankart.com/<%=qaime.company.profile_image_path%>" id="cmpLogo">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-[13px] font-medium" id="cmpName"><%=qaime.company.name%></div>
                                        <div class="text-[11px] text-messages opacity-65 font-normal">ID: <span
                                                class="opacity-100" id="cmpId"><%=qaime.company.sirket_id%></span></div>
                                                <input type="hidden" id="qaimeId_hid" value="<%=qaime_id%>">
                                    </div>
                                </div>
                            </div>
                            <div
                                class="border-r-[0.5px] border-[#0000001A] max-w-[220px] w-full flex items-center justify-left">
                                <p class="text-[13px] font-medium" id="invNo"><%=qaime_id%></p>
                            </div>
                            <div
                                class="border-r-[0.5px] border-[#0000001A] max-w-[220px] w-full flex items-center justify-left">
                                <p class="text-[13px]   font-medium" id="period" ><%=qaime.period.label%></p>
                            </div>
                            <div
                                class="border-r-[0.5px] border-[#0000001A] max-w-[220px] w-full flex items-center justify-left">
                                <p class="text-[13px]   font-medium" id="period" ><%=qaime.total_amount%> ₼</p>
                            </div>
                            <div class="flex items-center gap-[55px] w-full justify-between">
                                <div
                                  id="statusBadge"
                                  class="inline-flex items-center gap-2 bg-container-2 rounded-full px-3 py-1 mt-1"
                                >
                                  <span id="statusDot" class="w-[6px] h-[6px] rounded-full" style="background-color: <%=qaime.raw_status === 'active' ? '#4FC3F7' : '#66BB6A' %>;"></span>
                                  <span id="statusText" class="text-[13px] font-medium"><%=qaime.status_label%></span>
                                </div>
                                <% if(qaime.raw_status === 'active'){ %> 
                                <button onclick="openTesdiqModal('<%=qaime_id%>')" type="button" id="approveBtn"
                                    class="bg-success-color-dark cursor-pointer text-white text-[15px] font-medium whitespace-nowrap py-[5px] px-5 rounded-[100px]">Qaiməni
                                    təsdiqlə</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                  </div>
                    <div class="flex flex-col gap-3 mb-3">
                        <div
                            class="pb-3 flex items-center justify-between border-b-[.5px] border-stroke dark:border-[#FFFFFF1A] mt-[15px]">
                            <div onclick="window.location.href='/emeliyyatlar/sirket/eqaime'"
                                class="flex !mb-[12.5px] gap-[14px]  mt-[17px] items-center cursor-pointer">
                                <div class=" icon stratis-arrow-left-sm !w-[11px] !h-[11px] text-messages"></div>
                                <div class="text-[15px] font-medium">E-qaimə</div>
                            </div>
                            <div class="flex items-center gap-2">
                                <div
                                    class="relative font-normal flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus-within:ring-0 focus-within:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                    <input id="customSearch" type="text" placeholder="Axtarış..."
                                        class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]">
                                    <div class="absolute right-3">
                                        <div class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                                    </div>
                                </div>
                                <div id="refreshTable"
                                    class="w-[155px] border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                                    <span>Səhifəni yenilə</span>
                                    <span class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="myTable" class="table-fixed border-collapse w-full">
                        <thead class="border-none pb-0.5 w-full">
                            <tr
                                class="bg-container-2 w-full dark:bg-container-2-dark border-none text-[12px] text-secondary-text dark:text-secondary-text-color-dark font-normal">
                                <th class="rounded-l-lg filtering">
                                    Kart adı</th>
                                <th class="rounded-r-lg filtering">
                                    Məbləğ</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="pt-2 hidden">
                        <div class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
                            <div class="py-5 flex items-center justify-between">
                                <div class="text-[13px] flex items-center gap-2">
                                    <span class="font-normal opacity-65">Səhifə sayı:</span>
                                    <span id="pageCount" class="font-medium">1 / 49</span>
                                </div>
                                <div class="flex items-center gap-5">
                                    <div>
                                        <div id="customPagination" class="flex items-center"></div>
                                    </div>
                                    <div>
                                        <input class="page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:text-[#636B6F] font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px]
                      focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                      active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                      transition-all ease-out duration-300" type="text" placeholder="Səhifə" />
                                        <a href="#"
                                            class="go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    <div id="tesdiqModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="relative w-[306px] h-[190px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-lg bg-menu p-3">
            <div class="flex items-center justify-center w-[40px] h-[40px] bg-inverse-on-surface rounded-full">
                <div class="icon iconex-danger-1 w-[20px] h-[20px]"></div>
            </div>
            <div class="flex flex-col gap-1 pt-3">
                <h2 class="text-messages font-medium text-[15px] dark:text-[#FFFFFF]">Təsdiqləmə</h2>
                <div class="flex flex-wrap gap-[3px] font-normal text-[13px] text-messages">
                    <span class="font-medium text-messages"><span id="qaimeid_approve"></span> <span class="text-tertiary-text">
                            invoys nömrəli hesablaşmanı təsdiqləmək
                            istədiyinizə əminsiniz? </span> </span>
                </div>
            </div>
            <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                <button
                    class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white"
                    onclick="closeTesdiqModal()">Xeyr</button>
                <button
                    class="text-[12px] cursor-pointer text-on-primary font-medium bg-success rounded-[50px] !w-[112px] !h-[25px] hover:bg-[#4CAF1E] transition"
                    onclick="openConfirmModal()">Bəli, təsdiqlə</button>
            </div>
        </div>
    </div>

    <div id="confirmModal" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div class="relative w-[450px] h-[399px] border-[#0000001A] border-[2px]
                  shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white z-0">
            <div class="flex items-center justify-between p-6">
                <h2 class="text-[15px] font-medium text-messages">Hesab təsdiqi</h2>
                <div onclick="closeConfirmModal()" class="icon stratis-x-02 text-xs cursor-pointer"></div>
            </div>
            <div class="flex flex-col  mb-[24px] max-w-[400px] w-[100%] m-auto">
                <h2 class=" pb-[4px] text-[17px]  font-semibold  leading-[160%]  text-messages ">
                    OTP</h2>
                <div class="flex flex-wrap gap-[3px] font-normal text-[13px] leading-[160%]  text-messages opacity-100">
                    <span class="font-medium">ramin.orucovvv@gmail.com</span>
                    <span class="opacity-65 font-normal">email adresinə göndərilən 6 </span>
                    <span class=" opacity-65 font-normal">rəqəmli şifrəni daxil edin</span>
                </div>
            </div>
            <form id="confirmForm">
                <div class=" text-center space-y-4 max-w-[400px] w-[100%] m-auto">
                    <div id="countdown"
                        class="text-messages bg-inverse-on-surface  rounded-full w-[60px] h-[27px] mx-auto py-1 text-[12px] mb-[24px] font-medium  leading--[160%]">
                        4:59</div>
                    <div class="grid grid-cols-6 gap-2 mt-[8px]">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                        <input type="text" maxlength="1"
                            class="otp-input border-[1px] rounded-[8px] border-stroke border-opacity-[10%] pl-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 w-full h-[34px] text-center border-2 border-purple-300 rounded-md focus:border-purple-500 text-xl"
                            inputmode="numeric" pattern="[0-9]*" autocomplete="one-time-code">
                    </div>
                </div>
                <div class="text-center  flex justify-center max-w-[400px] w-[100%] m-auto">
                    <p class="font-normal leading--[160%] opacity-[65%] text-[12px] pr-[4px] pt-[24px]">
                        Email adresinə mesaj gəlmədi?</p>
                    <a href="#"
                        class="text-[12px] font-medium text-messages  px-[12px] py-[3px] mt-[21px] hover:bg-[#F6D9FF] rounded-[50px] active:bg-[#F6D9FF] disabled:bg-none  ">Yenidən
                        göndər</a>
                </div>
                <div class="absolute bottom-[24px] right-[12px] flex gap-[12px]">
                    <button href="#"
                        class=" text-[13px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[83px] !h-[34px] cursor-pointer"
                        onclick="closeConfirmModal()">Ləğv et</button>
                    <button href="#"
                        class=" text-[13px] text-on-primary font-medium bg-primary rounded-[50px] !w-[91px] !h-[34px] cursor-pointer hover:bg-[#88649A] transition">Təsdiqlə</button>
                </div>
            </form>
        </div>
    </div>

<% scripts=`
<script>
  window.__QAIME_ID__ = "${qaime_id}";

</script>
<script src="/js/jquery-ui.js"></script><script src="/js/datatables/datatables.min.js"></script>
<!-- <script src="/js/eQaimePages/eQaimeDetails.js"></script> -->
<script src="/js/Avankart/sirket/eQaime/eQaimeDetailsTable.js"></script>` %>