<div class="w-full">
    <div class="flex items-center gap-3 text-[13px] text-messages dark:text-primary-text-color-dark font-medium pb-3">
        <div class="flex items-center gap-2">
            <a href="/" class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">Avankart</a>
            <div class="icon stratis-slash-01-forward"></div>
        </div>
        <div class="flex items-center gap-2">
            <a href="/" class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">Şirkət</a>
            <div class="icon stratis-slash-01-forward"></div>
        </div>
        <div class="flex items-center gap-2">
            <span class="text-tertiary-text dark:text-tertiary-text-color-dark cursor-default">İşçilər</span>
        </div>
    </div>
    <div class="flex gap-3 w-full text-message pb-2 h-[65px]">
        <div
            class="border-[#00A3FF] pl-[12px] pt-[8px] text-messages bg-sidebar-bg border-l-[3px] max-w-[400px] rounded-[12px] w-[100%]">
            <p class="text-[11px] opacity-50 pb-[4px]">Aktiv</p>
            <p id="activeCompanies" class="text-[17px] font-semibold"><%= counts.active %></p>
        </div>
        <div
            class="border-[#FFA100] pl-[12px] pt-[8px] text-messages bg-sidebar-bg border-l-[3px] max-w-[400px] rounded-[12px] w-[100%]">
            <p class="text-[11px] opacity-50 pb-[4px]">Gözləyir</p>
            <p id="pendingCompanies" class="text-[17px] font-semibold"><%= counts.waiting %></p>
        </div>
        <div
            class="border-[#32B5AC] pl-[12px] pt-[8px] text-messages bg-sidebar-bg border-l-[3px] max-w-[400px] rounded-[12px] w-[100%]">
            <p class="text-[11px] opacity-50 pb-[4px]">Tamamlandı</p>
            <p id="completedCompanies" class="text-[17px] font-semibold"><%= counts.completed %></p>
        </div>
        <div class="pl-[12px] pt-[8px] text-messages bg-sidebar-bg max-w-[400px] rounded-[12px] w-[100%]">
            <p class="text-[11px] opacity-50 pb-[4px]">
                Toplam məbləğ
            </p>
            <p id="totalAmount" class="text-[17px] font-semibold"><%= totalBalance %> AZN</p>
        </div>
    </div>
    <div class="flex flex-col gap-3 mb-3">
        <div
            class="py-3 flex items-center justify-between border-b-[.5px] border-stroke dark:border-[#FFFFFF1A] mt-[15px]">
            <div class="flex rounded-lg">
                <div id="sirketTitleContainer" class="text-[15px] text-messages font-medium pt-[5px]">
                    Üzv şirkətlər (<span id="tr_counts">-</span>)
                </div>
                <div id="selectedValues" class="hidden text-[13px] font-medium py-2 bg-container-2 rounded-lg">
                    <!-- Dəyərlər bura dinamik əlavə ediləcək -->
                </div>
            </div>
            <div class="flex items-center gap-2">
                <div
                    class="relative font-normal flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus-within:ring-0 focus-within:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 hover:bg-input-hover dark:hover:bg-input-hover-dark">
                    <input id="customSearch" type="text" placeholder="Axtarış..."
                        class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]" />
                    <div class="absolute right-3">
                        <div class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                    </div>
                </div>
                <div onclick="refreshPage()"
                    class="w-[155px] border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px] cursor-pointer">
                    <span>Səhifəni yenilə</span>
                    <span class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"></span>
                </div>
                <div onclick="openFilterModal()"
                    class="w-[103px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                    <a href="#"
                        class="icon stratis-filter text-messages dark:text-primary-text-color-dark mt-[2.5px]"></a>
                    <a href="#" class="">Filterlə</a>
                </div>
            </div>
        </div>
    </div>
    <table id="myTable" class="table-fixed border-collapse w-full">
        <thead class="border-none pb-0.5">
            <tr
                class="bg-container-2 dark:bg-container-2-dark border-none text-[12px] text-secondary-text opacity-65 font-normal">
                <th class="rounded-l-lg filtering">Şirkət</th>
                <th class="filtering">Invoys nömrəsi</th>
                <th class="filtering">Kart sayı</th>
                <th class="filtering">Məbləğ (AZN)</th>
                <th class="filtering">Tarix </th>
                <th class="rounded-r-lg filtering">Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div class="pt-2">
        <div class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
            <div class="py-5 flex items-center justify-between">
                <div class="text-[13px] flex items-center gap-2">
                    <span class="font-normal opacity-65">Səhifə sayı:</span>
                    <span id="pageCount" class="font-medium">1 / 1</span>
                </div>
                <div class="flex items-center gap-5">
                    <div>
                        <div id="customPagination" class="flex items-center"></div>
                    </div>
                    <div>
                        <input
                            class="page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px] focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300"
                            type="text" placeholder="Səhifə" />
                        <a href="#"
                            class="go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Filter Modal -->
    <div id="sirketFilterModal" class="hidden fixed inset-0 bg-[#0000002A] items-center justify-center z-100">
        <div
            class="relative bg-body-bg w-[450px] h-auto border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] z-0 dark:bg-[#161E22]">
            <div class="flex items-center justify-between p-6">
                <h2 class="text-[15px] font-medium text-messages dark:text-white">Filter Seçimləri</h2>
                <div id="closeSirketFilterModal" class="icon stratis-x-02 text-xs cursor-pointer"></div>
            </div>

            <div class="px-6 pb-6">
                <!-- Məbləğ Aralığı -->
                <div class="mb-4">
                    <label class="block text-[13px] font-medium text-messages dark:text-white mb-2">Məbləğ
                        Aralığı</label>
                    <div class="flex gap-2">
                        <input type="number" id="minAmount" placeholder="Min. məbləğ"
                            class="flex-1 px-3 py-2 border border-stroke dark:border-[#FFFFFF1A] rounded-lg text-[13px]" />
                        <input type="number" id="maxAmount" placeholder="Maks. məbləğ"
                            class="flex-1 px-3 py-2 border border-stroke dark:border-[#FFFFFF1A] rounded-lg text-[13px]" />
                    </div>
                </div>

                <!-- Tarix Aralığı -->
                <div class="mb-4">
                    <label class="block text-[13px] font-medium text-messages dark:text-white mb-2">Tarix
                        Aralığı</label>
                    <div class="flex gap-2">
                        <input type="date" id="startDate"
                            class="flex-1 px-3 py-2 border border-stroke dark:border-[#FFFFFF1A] rounded-lg text-[13px]" />
                        <input type="date" id="endDate"
                            class="flex-1 px-3 py-2 border border-stroke dark:border-[#FFFFFF1A] rounded-lg text-[13px]" />
                    </div>
                </div>

                <!-- Status -->
                <div class="mb-6">
                    <label class="block text-[13px] font-medium text-messages dark:text-white mb-2">Status</label>
                    <div class="space-y-2">
                        <label class="flex items-center">
                            <input type="checkbox" name="status" value="active" class="mr-2" />
                            <span class="text-[13px]">Aktiv</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="status" value="pending" class="mr-2" />
                            <span class="text-[13px]">Gözləyir</span>
                        </label>
                        <label class="flex items-center">
                            <input type="checkbox" name="status" value="completed" class="mr-2" />
                            <span class="text-[13px]">Tamamlandı</span>
                        </label>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="flex gap-3">
                    <button id="clearSirketFiltersBtn"
                        class="flex-1 text-[13px] text-on-surface-variant font-medium bg-surface-bright rounded-[50px] h-[34px] cursor-pointer">
                        Təmizlə
                    </button>
                    <button id="applySirketFiltersBtn"
                        class="flex-1 text-[13px] text-on-primary font-medium bg-primary rounded-[50px] h-[34px] cursor-pointer">
                        Tətbiq et
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="filterPop" class="hidden fixed inset-0 bg-[#0000002A] flex items-center justify-center z-100">
        <div
            class="w-[450px] font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
            <form onsubmit="return false;" data-url="/hesablashmalar/datatable" id="filterForm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-[15px] font-medium">
                            Filter
                        </div>
                        <div onclick="openFilterModal()" class="icon stratis-x-02 text-xs cursor-pointer dark:hidden">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-2">
                    <div>
                        <span class="text-[12px] font-medium opacity-65 dark:text-white">Tarix
                            aralığı</span>
                        <div class="flex items-center gap-3">
                            <div class="w-1/2">
                                <div onclick="openDatePicker('startDate')" class="relative w-[195px] group">
                                    <input id="startDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
           hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
           active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="start_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50">
                                    </div>
                                    <div class="text-[11px] font-normal opacity-50">
                                        Başlanğıc tarixini
                                        qeyd edin</div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div onclick="openDatePicker('endDate')" class="relative w-[195px] group">
                                    <input id="endDate" type="date"
                                        class="date-input py-[6.5px] text-[12px] font-medium text-messages placeholder-outline border border-stroke rounded-full px-3 w-full appearance-none
           hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
           active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 cursor-pointer"
                                        placeholder="dd/mm/yyyy" name="end_date">
                                    <div
                                        class="icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-4 h-4 text-messages group-focus-within:text-focus cursor-pointer">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50">
                                    </div>
                                    <div class="text-[11px] font-normal opacity-50">
                                        Son tarixi qeyd edin
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relative hidden">
                        <span
                            class="text-[12px] text-tertiary-text  dark:text-tertiary-text-color-dark font-medium">Müəssisələr</span>
                        <button id="dropdownDefaultButton_company"
                            class="cursor-pointer font-normal font-poppins rounded-2xl text-[12px] px-5 py-2.5 text-center flex items-center justify-between border border-[#0000001A] w-full h-[34px] hover:bg-container-2 dark:bg-[#161E22] dark:text-white dark:border-[#FFFFFF1A] dark:hover:bg-[#1F282C]"
                            type="button" onclick="toggleDropdown_company()">
                            Seçim edin
                            <div>
                                <img src="/public/images/Avankart/Sirket/chevron-down.svg" alt=""
                                    class="w-[15px] h-[13px] dark:invert">
                            </div>
                        </button>
                        <div id="dropdown_company"
                            class="hidden absolute mt-2 w-[402px] max-h-[200px] overflow-y-auto overflow-x-hidden custom-scroll bg-white border-[.5px] border-stroke rounded-lg shadow z-50 dark:bg-[#161E22] dark:border-[#FFFFFF1A] visible">

                            <label for="goory"
                                class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:hover:bg-input-hover-dark">
                                <input type="checkbox" id="goory" class="peer hidden">
                                <div
                                    class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                </div>
                                <span class="dark:text-white">Goory Restaurant</span>
                            </label>

                            <label for="malta"
                                class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                <input type="checkbox" id="malta" class="peer hidden">
                                <div
                                    class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                </div>
                                <span class="dark:text-white">Malta</span>
                            </label>

                            <label for="ozsut"
                                class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                <input type="checkbox" id="ozsut" class="peer hidden">
                                <div
                                    class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                </div>
                                <span class="dark:text-white">Özsüt</span>
                            </label>

                            <label for="faxrali"
                                class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                <input type="checkbox" id="faxrali" class="peer hidden">
                                <div
                                    class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                </div>
                                <span class="dark:text-white">Faxrali</span>
                            </label>

                            <label for="qedimQebele"
                                class="flex items-center px-4 py-1 text-[13px] hover:bg-input-hover cursor-pointer select-none gap-2 dark:bg-[#161E22] dark:hover:bg-input-hover-dark">
                                <input type="checkbox" id="qedimQebele" class="peer hidden">
                                <div
                                    class="w-[14px] h-[14px] border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center dark:bg-[#161E22] text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center"></div>
                                </div>
                                <span class="dark:text-white">Qədim Qəbələ</span>
                            </label>
                        </div>
                    </div>
                    <div>
                        <span class="text-[12px] font-medium opacity-65">Status</span>
                        <div class="mt-[6px]">
                            <div class="flex items-center flex-wrap gap-4">
                                <label for="cbx-active"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-active" class="peer hidden" name="card_status"
                                        value="active">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Aktiv</div>
                                </label>
                                <label for="cbx-waiting"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-waiting" class="peer hidden" name="card_status"
                                        value="waiting">
                                        <input type="checkbox" id="cbx-pending" class="peer hidden" name="card_status"
                                        value="pending">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Gözləyir</div>
                                </label>
                                <label for="cbx-completed"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="cbx-completed" class="peer hidden" name="card_status"
                                        value="completed">
                                    <input type="checkbox" id="cbx-tamamlandi" class="peer hidden" name="card_status"
                                        value="tamamlandi">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>Tamamlandı</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="value-container mt-2">
                            <span id="min-value" class="value-label text-[13px] text-messages font-medium"></span>
                            <span id="max-value" class="value-label text-[13px] text-messages font-medium"></span>
                        </div>
                        <div id="slider-range" class="mt-2"></div>
                        <div class="flex items-center justify-between text-[11px] opacity-50 font-medium mt-2">
                            <span>Min</span>
                            <span>Max</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-3">
                    <button type="button"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                        onclick="openFilterModal()">Bağla</button>
                    <button type="reset" onclick="clearFilters()"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                        təmizlə</button>
                    <button onclick="applyFilters()" type="button"
                        class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">Filterlə</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% scripts = `
    <script src="/js/jquery-3.7.1.min.js"></script><script src="/js/jquery-ui.js"></script>
    <script src="/js/datatables/datatables.min.js"></script>
    <script src="/js/Avankart/sirket/iscilerinBalansi/iscilerinBalansiTable.js"></script>
`; %>

<% styles = `
  <style>
    .dt-column-order {
      display: none !important;
    }

    table,
    thead,
    table.dataTable>thead>tr>th,
    table.dataTable>thead>tr>td,
    table.dataTable>tbody>tr:last-child>*,
    div.dt-container.dt-empty-footer tbody>tr:last-child>* {
      border: none;
      font-weight: 400;
    }

    table.dataTable th.dt-type-numeric,
    table.dataTable th.dt-type-date,
    table.dataTable td.dt-type-date {
      text-align: left;
    }

    #sidebar .overflow-y-auto {
      scrollbar-width: none;
      /* Firefox üçün */
      -ms-overflow-style: none;
      /* IE 10+ üçün */
    }

    /* Bu hissəni öz CSS faylında əlavə et */
    .custom-scroll::-webkit-scrollbar {
      width: 4px;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }

    .custom-scroll::-webkit-scrollbar-track {
      background-color: transparent;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
      display: none;
      -webkit-appearance: none;
    }

    /* Main container styles */
    .slider-container {
      width: 100%;
      max-width: 800px;
    }

    /* Value display container */
    .value-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    /* Custom slider styles */
    #slider-range {
      height: 6px;
      border: none;
      background: #9c78ae;
      /* Purple background for the entire track */
      border-radius: 3px;
    }

    /* Slider range (colored part between handles) */
    #slider-range .ui-slider-range {
      background: #e6e6e6;
      /* Gray color for area between handles */
    }

    /* Slider handles */
    #slider-range .ui-slider-handle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
      border: 4px solid #745086;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      outline: none;
      top: -7px;
      margin-left: -10px;
    }
  </style>
`; %>