<!-- <div> -->
<!-- Authenticator Page -->
<!-- <%= __("authenticator_page") %> -->
<!-- </div> -->

<div class="w-full h-[100%] flex min-h-screen">
    <div class="w-[57%] max-w-[1100px] flex flex-col h-full bg-sidebar-bg min-h-screen dark:bg-[#0C1418]">
        <div class="fixed top-[89px] left-[200px] gap-[8px] flex flex-col">
            <button class="flex items-center gap-[8px] cursor-pointer">
                <div class="icon stratis-arrow-left-sm text-messages !w-[11px] !h-[11px] dark:text-[#FFFFFF]"></div>
                <div class="text-[12px] text-messages font-medium leading-[160%] font-poppins dark:text-[#FFFFFF]">Geri
                </div>
            </button>
            <div class="justify-center font-poppins">
                <h1 class="font-medium pb-[4px]  text-[15px] leading-[160%] text-messages dark:text-[#FFFFFF]">
                    İmtiyazlarınızı
                    əməkdaşlara rahatlıqla çatdırın.</h1>
                <p class="text-messages text-[12px] font-normal  leading-[160%] opacity-[50%] dark:text-[#FFFFFF]">Hər
                    müəssisəyə özəl
                    həllər təklif edirik.</p>
            </div>
        </div>
        <div class="w-[79%] max-w-[872px] h-[60%] max-h-[621px] pt-[201px] pl-[114px] ">
            <img src="/images/login-pages-images/Frame 427321215.svg" alt="Chart">
        </div>
    </div>
    <div class="w-[43%] max-w-[820px] flex flex-col justify-center  items-center bg-body-bg dark:bg-body-bg-dark">
        <div class="absolute top-[30px] w-[100px] h-[19.85px] ">
            <img src="/images/login-pages-images/Group (1).svg" alt="Avankar Logo">
        </div>
        <div class="w-[100%] max-w-[500px]">
            <div
                class="flex items-center justify-center bg-container-2 w-[55px] h-[56px] rounded-full dark:bg-[#161E22]">
                <div class="icon iconex-lock-1 text-outline !w-[20.29px] !h-[21px] dark:text-[#FFFFFF]"></div>
            </div>
            <div class="flex flex-col  mb-[22px] pt-[12px]">
                <h2
                    class=" pb-[12px] text-[17px] font-poppins font-semibold  leading-[160%]  text-messages dark:text-[#FFFFFF]">
                    Hesabınızda 2 addımlı doğrulama mövcuddur</h2>
                <p
                    class="font-normal text-[13px] leading-[160%] font-poppins text-messages opacity-[65%] dark:text-[#FFFFFF]">
                    Authenticator tətbiqində sizə təqdim olunan 6 rəqəmli şifrəni daxil edin </p>
            </div>
            <form onsubmit="return false;" data-url="/auth/resend-otp" id="resendForm">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>
            <form id="twoStepVerificationAuthenticatorForm" onsubmit="return false;" autocomplete="off"
                data-url="/auth/otpSubmit">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <meta name="csrf-token" content="<%= csrfToken %>" />

                <div class="w-full text-center space-y-4">
                    <div class="grid grid-cols-6 gap-2 mt-[8px]">
                        <input type="text" maxlength="1" class="otp-input border-[1px] rounded-[8px] border-stroke  border-opacity-[10%]  pl-[12px] placeholder-on-surface-variant-dark
                    hover:bg-input-hover
                    focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none dark:caret-white
                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                    transition-all ease-out duration-300 dark:bg-[#161E22] text-center" name="otp1" id="otp1Input" />
                        <input type="text" maxlength="1" class="otp-input border-[1px] rounded-[8px] border-stroke  border-opacity-[10%]  pl-[12px] placeholder-on-surface-variant-dark
                    hover:bg-input-hover
                    focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none dark:caret-white
                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                    transition-all ease-out duration-300 dark:bg-[#161E22] text-center" name="otp2" id="otp2Input" />
                        <input type="text" maxlength="1" class="otp-input border-[1px] rounded-[8px] border-stroke  border-opacity-[10%]  pl-[12px] placeholder-on-surface-variant-dark
                    hover:bg-input-hover
                    focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none dark:caret-white
                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                    transition-all ease-out duration-300 dark:bg-[#161E22] text-center" name="otp3" id="otp3Input" />
                        <input type="text" maxlength="1" class="otp-input border-[1px] rounded-[8px] border-stroke  border-opacity-[10%]  pl-[12px] placeholder-on-surface-variant-dark
                    hover:bg-input-hover
                    focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none dark:caret-white
                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                    transition-all ease-out duration-300 dark:bg-[#161E22] text-center" name="otp4" id="otp4Input" />
                        <input type="text" maxlength="1" class="otp-input border-[1px] rounded-[8px] border-stroke  border-opacity-[10%]  pl-[12px] placeholder-on-surface-variant-dark
                    hover:bg-input-hover
                    focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none dark:caret-white
                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                    transition-all ease-out duration-300 dark:bg-[#161E22] text-center" name="otp5" id="otp5Input" />
                        <input type="text" maxlength="1" class="otp-input border-[1px] rounded-[8px] border-stroke  border-opacity-[10%]  pl-[12px] placeholder-on-surface-variant-dark
                    hover:bg-input-hover
                    focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none dark:caret-white
                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                    transition-all ease-out duration-300 dark:bg-[#161E22] text-center" name="otp6" id="otp6Input" />
                    </div>
                </div>
                <button type="submit"
                    class="cursor-pointer mt-[24px] w-full max-w-[500px] font-poppins leading-[160%] font-medium h-[40px] bg-primary rounded-full text-on-primary text-[15px] hover:bg-hover-button focus:bg-primary focus:shadow-[0px_0px_16px_0px_rgba(0,0,0,0.2)] disabled:bg-primary disabled:opacity-[30%] transition-all ease-out duration-300 focus:outline-none"
                    onclick="submitForm('twoStepVerificationAuthenticator')">
                    Təsdiqlə
                </button>
                <div class="flex items-center justify-center my-[24px]">
                    <div class="w-full border-t border-stroke  border-[0.5px] dark:border-[#FFFFFF] opacity-10"></div>
                    <span
                        class="mx-2 w-[28px] px-[2.5px] text-messages opacity-[50%] font-poppins text-[10px] font-medium leading-none whitespace-nowrap dark:text-[#FFFFFF] opacity-50">və
                        ya</span>
                    <div class="w-full border-t border-stroke  border-[0.5px] dark:border-[#FFFFFF] opacity-10"></div>
                </div>
                <a href="javascript:void(0)" onclick="sendOtp('sms')"
                    class="dark:text-[#FFFFFF] cursor-pointer flex items-center justify-center mt-[12px] w-full max-w-[500px] font-poppins leading-[160%] font-medium h-[40px] border-[1px] border-surface-variant rounded-full text-[15px] text-messages hover:text-focus focus:text-focus disabled:border-[#7450864D] disabled:text-[#7450864D]">
                    <!-- Mobil nömrə ilə təsdiqlə -->
                    <%= __("mobil_nomre_ile_tesdiqle") %>
                </a>

                <a href="javascript:void(0)" onclick="sendOtp('email')"
                    class="dark:text-[#FFFFFF] cursor-pointer flex items-center justify-center mt-[12px] w-full max-w-[500px] font-poppins leading-[160%] font-medium h-[40px] border-[1px] border-surface-variant rounded-full text-[15px] text-messages hover:text-focus focus:text-focus disabled:border-[#7450864D] disabled:text-[#7450864D]">
                    <!-- Email ilə təsdiqlə -->
                    <%= __("email_ile_tesdiqle") %>
                </a>

                <div class="text-center  flex justify-center">
                    <p
                        class="font-normal font-poppins text-messages leading--[160%] opacity-[65%] text-[12px] pr-[4px] pt-[20px] dark:text-[#FFFFFF] opacity-65">
                        Hələ də giriş edə bilmirsən?</p>
                    <a onclick="openSupportModal()" href="#"
                        class="text-[12px] font-medium font-poppins text-messages  px-[12px] py-[3px] mt-[17px]  hover:bg-[#F6D9FF] rounded-[50px] active:bg-[#F6D9FF] disabled:bg-none dark:text-white dark:hover:bg-[rgba(32,28,46,255)]">Bizimlə
                        əlaqəyə keç</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div onclick="closeSupportModal()" id="supportOverlay" class="fixed inset-0 hidden"></div>
<div id="supportModal"
    class="border border-stroke dark:border-[#FFFFFF1A] w-[250px] h-[371px] bg-menu dark:bg-menu-dark hidden fixed top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-50 shadow-xl rounded-[12px]">
    <div class="p-3">
        <div onclick="closeSupportModal()" class="w-[18px] h-[18px] absolute right-[13px] cursor-pointer">
            <div class="icon stratis-x-02"></div>
        </div>
        <div class="text-start pl-2">
            <h3 class="text-[13px] font-bold text-messages dark:text-primary-text-color-dark mt-3">Köməyə ehtiyacın
                var?</h3>
            <p class="mt-[5px] font-normal text-[10px] text-tertiary-text dark:text-tertiary-text-color-dark">7/24
                cavablamağa hazırıq</p>
        </div>
        <div class="pt-3 border-b-[.5px] border-stroke dark:border-[#FFFFFF1A] pb-5">
            <div
                class="flex items-center gap-2 p-2 rounded-xl hover:bg-input-hover dark:hover:bg-input-hover-dark group">
                <div
                    class="w-10 h-10 bg-sidebar-bg dark:bg-side-bar-bg-dark group-hover:bg-body-bg dark:group-hover:bg-body-bg-dark rounded-full flex items-center justify-center">
                    <div class="iconex iconex-flag-1 w-5 h-5 text-messages dark:text-primary-text-color-dark"></div>
                </div>
                <div class="text-start">
                    <div class="text-messages dark:text-primary-text-color-dark text-[13px] font-medium">Sorğular
                    </div>
                    <div class="text-[11px] text-tertiary-text dark:text-tertiary-text-color-dark font-normal">
                        Problem üzrə sorğu yarat</div>
                </div>
            </div>
            <div onclick="openFaqModal()"
                class="flex items-center gap-2 p-2 mt-2 rounded-xl hover:bg-input-hover dark:hover:bg-input-hover-dark group cursor-pointer">
                <div
                    class="w-10 h-10 bg-sidebar-bg dark:bg-side-bar-bg-dark group-hover:bg-body-bg dark:group-hover:bg-body-bg-dark rounded-full flex items-center justify-center">
                    <div class="iconex iconex-message-square-1 w-5 h-5 text-messages dark:text-primary-text-color-dark">
                    </div>
                </div>
                <div class="text-start">
                    <div class="text-messages dark:text-primary-text-color-dark text-[13px] font-medium">FAQ</div>
                    <div class="text-[11px] text-tertiary-text dark:text-tertiary-text-color-dark font-normal">
                        Tez-tez verilən suallar</div>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <div
                class="flex items-center gap-2 p-2 rounded-xl hover:bg-input-hover dark:hover:bg-input-hover-dark group">
                <div
                    class="w-10 h-10 bg-sidebar-bg dark:bg-side-bar-bg-dark group-hover:bg-body-bg dark:group-hover:bg-body-bg-dark rounded-full flex items-center justify-center">
                    <div class="iconex iconex-calling-1 w-5 h-5 text-messages dark:text-primary-text-color-dark">
                    </div>
                </div>
                <div class="text-start">
                    <div class="text-messages dark:text-primary-text-color-dark text-[13px] font-medium">*0000</div>
                    <div class="text-[11px] text-tertiary-text dark:text-tertiary-text-color-dark font-normal">
                        Qaynar xəttə müraciət et</div>
                </div>
            </div>
            <div
                class="flex items-center gap-2 p-2 mt-2 rounded-xl hover:bg-input-hover dark:hover:bg-input-hover-dark group">
                <div
                    class="w-10 h-10 bg-sidebar-bg dark:bg-side-bar-bg-dark group-hover:bg-body-bg dark:group-hover:bg-body-bg-dark rounded-full flex items-center justify-center">
                    <div class="iconex iconex-case-1 w-5 h-5 text-messages dark:text-primary-text-color-dark"></div>
                </div>
                <div class="text-start">
                    <div class="text-messages dark:text-primary-text-color-dark text-[13px] font-medium">E-poçt
                    </div>
                    <div class="text-[11px] text-tertiary-text dark:text-tertiary-text-color-dark font-normal">
                        avankart@support.com</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FAQ Modal -->
<div id="faqModal"></div>

<script src="/js/login-pages-js/6-password.js"></script>
<script src="/public/js/mode.js"></script>
<script src="/js/login-pages-js/popup.js"></script>
<script src="/js/submitForm.js"></script>
<script> //fix auto-focus next input
    document.addEventListener("DOMContentLoaded", () => {
        const inputs = document.querySelectorAll(".otp-input");

        inputs.forEach((input, idx) => {
            input.addEventListener("input", () => {
                if (input.value.length === 1 && idx < inputs.length - 1) {
                    inputs[idx + 1].focus();
                }
            });

            input.addEventListener("keydown", (e) => {
                if (e.key === "Backspace" && input.value === "" && idx > 0) {
                    inputs[idx - 1].focus();
                }
            });

            input.addEventListener("keypress", (e) => {
                if (!/[0-9]/.test(e.key)) {
                    e.preventDefault();
                }
            });
        });
    });
</script>