<% styles=` <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/qrFilterSlider.css">
    <style>
        .dt-column-order {
            display: none !important;
        }

        table,
        thead,
        table.dataTable>thead>tr>th,
        table.dataTable>thead>tr>td,
        table.dataTable>tbody>tr:last-child>*,
        div.dt-container.dt-empty-footer tbody>tr:last-child>* {
            border: none;
            font-weight: 400;
        }

        td {
            padding: 20px;
        }

        .custom-date::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        .value-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .value-label {
            font-weight: 600;
            color: #4B5563;
            background: #F3F4F6;
            padding: 4px 8px;
            border-radius: 6px;
            font-size: 13px;
        }

        .dark .value-label {
            background: #374151;
            color: #D1D5DB;
        }

        /* Custom slider styles */
        #slider-range {
            height: 6px;
            border: none;
            background: #9C78AE;
            /* Purple background for the entire track */
            border-radius: 3px;
        }

        /* Slider range (colored part between handles) */
        #slider-range .ui-slider-range {
            background: #e6e6e6;
            /* Gray color for area between handles */
        }

        /* Slider handles */
        #slider-range .ui-slider-handle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            border: 4px solid #745086;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            outline: none;
            top: -7px;
            margin-left: -10px;
        }
    </style>`; %>

    <div class="">
        <div class="flex items-center gap-3 text-[13px] text-messages dark:text-primary-text-color-dark font-medium">
            <div class="flex items-center gap-2">
                <a href="/" class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">
                    <%= __('hesablasmalar.first_breadcrumb')%>

             
                </a>
                <div class="icon stratis-slash-01-forward"></div>
            </div>
            <div class="flex items-center gap-2">
                <a href="#" class="text-tertiary-text dark:text-tertiary-text-color-dark">
                    <%= __('hesablasmalar.second_breadcrumb')%>
                </a>
            </div>
        </div>
        <div class="hidden md:flex  py-3 rounded-lg  h-[69px]">
            <div class="flex gap-3 w-full text-message pb-2 h-[65px]">
                <div
                    class=" border-[#FFA100] pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark border-l-[3px] rounded-[12px]  w-[100%]">
                    <p class="text-[11px] opacity-50 pb-[4px]">
                        <%= __('hesablasmalar.status_list.wait') %>
                    </p>
                    <p class="text-[17px]  font-semibold">
                        <%= new Intl.NumberFormat('az-AZ', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(waitingBalance || 0) %> ₼
                    </p>
                </div>
                <div
                    class=" border-[#32B5AC] pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark border-l-[3px] rounded-[12px]  w-[100%]">
                    <p class="text-[11px] opacity-50 pb-[4px]">
                        <%= __('hesablasmalar.status_list.done') %>
                    </p>
                    <p class="text-[17px]  font-semibold">
                        <%= new Intl.NumberFormat('az-AZ', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(complatedBalance || 0) %> ₼
                    </p>
                </div>
                <div
                    class=" border-surface-container-highest pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark border-l-[3px]  rounded-[12px]  w-[100%]">
                    <p class="text-[11px] opacity-50 pb-[4px]">
                        <%= __('hesablasmalar.total')%> 
                    </p>
                    <p class="text-[17px]  font-semibold">
                        <%= new Intl.NumberFormat('az-AZ', { style: 'decimal', minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(totalBalance || 0) %> ₼
                    </p>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-3">
            <div
                class="pb-3 flex items-center justify-between border-b-[.5px] border-stroke dark:border-[#FFFFFF1A] mt-[15px]">
                <div class="text-[15px] text-messages dark:text-primary-text-color-dark font-medium pt-[5px]">
                    <%= __('hesablasmalar.hesablasmalar_count')%>
                </div>
                <div class="flex items-center gap-2">
                    <div
                        class="relative flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus dark:focus-within:border-focus-color-dark hover:bg-input-hover dark:hover:bg-input-hover-dark">
                        <input id="search-input" type="text" placeholder="<%= __('hesablasmalar.search_placeholder') %>" name="search"
                            class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] placeholder:text-on-surface-variant-dark dark:placeholder:text-on-surface-variant-dark">
                        <div class="absolute right-3">
                            <div class="icon stratis-search-02"></div>
                        </div>
                    </div>
                    <div id="reloadButton"
                        class="w-[155px] border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                        <span>
                            <%= __('hesablasmalar.reload')%>
                        </span>
                        <span class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark"></span>
                    </div>
                    <div onclick="openPopup('#filterPop')"
                        class="w-[92px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                        <a href="#"
                            class="icon stratis-filter  text-messages dark:text-primary-text-color-dark mt-[2.5px]"></a>
                        <a href="#" class="">
                            <%= __('hesablasmalar.filter')%>
                        </a>
                    </div>
                    <button onclick="openPopup('#YeniInvoys')" id='add-invoys'
                        class="add-invoys cursor-pointer bg-primary hover:bg-focus text-on-primary border border-surface-variant rounded-full flex items-center justify-center gap-2 text-[13px] font-medium !w-[134px] h-[34px] dark:border-none">
                        <div class="icon stratis-plus-02"></div>
                        <span>Yeni invoys</span>
                    </button>
                </div>
            </div>

            <div id="overlay" class="hidden w-full h-full fixed top-0 left-0 bg-[#0000002A] z-100"></div>

            <div id="filterPop"
                class="w-[450px] hidden font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
                <form onsubmit="return false;" id="filterForm">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div>
                        <div class="flex items-center justify-between">
                            <div class="text-[15px] font-medium">
                                <%= __('hesablasmalar.filter')%>
                            </div>
                            <img src="/images/Sorgular Pages Images/Close.svg" alt="Close" onclick="closePopup()"
                                class="cursor-pointer dark:hidden">
                            <img src="/images/avankart-partner-pages-images/Close-dark.svg" alt="Close"
                                onclick="closePopup()" class="cursor-pointer hidden dark:block">
                        </div>
                        <div class="mt-3">
                            <span class="text-[12px] font-medium opacity-65">
                                <%= __('hesablasmalar.date')%>
                            </span>
                            <div class="flex items-center justify-between">
                                <div>
                                    <div
                                        class="px-3 border-[1px] dark:border-[0.5px] dark:!border-[#ffffff1A] border-[#0000001A] rounded-[100px] flex items-center justify-between w-[195px]">
                                        <input type="date"
                                            class="date-input py-[6.5px] text-[12px] font-medium dark:bg-menu-dark text-on-surface-variant-dark border border-transparent focus:border-transparent focus:ring-0 rounded-full"
                                            placeholder="dd/mm/yyyy" name="start_date">
                                        <div class="icon stratis-calendar-02 w-4 h-4 py-[11px]"></div>
                                    </div>
                                    <div class="flex items-center gap-2 mt-1.5 hover:bg-container-2">
                                        <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50">
                                        </div>
                                        <div class="text-[11px] font-normal opacity-50">
                                            <%= __('hesablasmalar.start_date')%>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        class="px-3 border-[1px] dark:border-[0.5px] dark:!border-[#ffffff1A] border-[#0000001A] rounded-[100px] flex items-center justify-between w-[195px]">
                                        <input type="date"
                                            class="date-input py-[6.5px] text-[12px] font-medium dark:bg-menu-dark text-on-surface-variant-dark border border-transparent focus:border-transparent focus:ring-0 rounded-full"
                                            placeholder="dd/mm/yyyy" name="end_date">
                                        <div class="icon stratis-calendar-02 w-4 h-4 py-[11px]"></div>
                                    </div>
                                    <div class="flex items-center gap-2 mt-1.5">
                                        <div class="icon stratis-information-circle-contained w-3 h-3 opacity-50">
                                        </div>
                                        <div class="text-[11px] font-normal opacity-50">
                                            <%= __('hesablasmalar.end_date')%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <span class="text-[12px] font-medium opacity-65">
                            <%= __('hesablasmalar.status')%>
                        </span>
                        <div class="mt-[6px]">
                            <div class="flex items-center flex-wrap gap-4">
                                <label for="newCheckbox1"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="newCheckbox1" class="peer hidden" name="status"
                                        value="active">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>
                                        <%= __('hesablasmalar.status_list.active') %>
                                    </div>
                                </label>
                                <label for="newCheckbox2"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="newCheckbox2" class="peer hidden" name="status"
                                        value="waiting_aktiv">
                                    <input type="checkbox" id="newCheckbox21" class="peer hidden" name="status"
                                        value="waiting_tamamlandi">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>
                                        <%= __('hesablasmalar.status_list.wait') %>
                                    </div>
                                </label>
                                <label for="newCheckbox3"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="newCheckbox3" class="peer hidden" name="status"
                                        value="completed">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>
                                        <%= __('hesablasmalar.status_list.done') %>
                                    </div>
                                </label>
                                <label for="newCheckbox4"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="newCheckbox4" class="peer hidden" name="status"
                                        value="qaralama">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <div>
                                        <%= __('hesablasmalar.status_list.qaralama') %>
                                    </div>
                                </label>
                                <label for="newCheckbox5"
                                    class="flex items-center gap-2 cursor-pointer select-none text-[13px] font-normal">
                                    <input type="checkbox" id="newCheckbox5" class="peer hidden" name="status"
                                        value="reported">
                                    <div
                                        class="bg-menu border border-surface-variant rounded-[2px] w-[18px] h-[18px] flex items-center justify-center text-on-primary 
                                                            peer-checked:bg-primary peer-checked:text-on-primary peer-checked:border-primary transition">
                                        <div class="icon stratis-check-01 scale-60 h-[18px] w-[18px] text-center">
                                        </div>
                                    </div>
                                    <!-- duzeldildi -->
                                    <div>
                                        <%= __('hesablasmalar.status_list.reported') %>
                                    </div>
                                </label>
                            </div>
                        </div>
                <div class="my-4">
  <span class="text-[12px] font-medium opacity-65">
    <%= __('hesablasmalar.amount_range')%>
  </span>

  <div class="value-container mt-2">
    <span id="min-value" class="value-label text-[13px] text-messages font-medium"></span>
    <span id="max-value" class="value-label text-[13px] text-messages font-medium"></span>
  </div>

  <!-- İlk render üçün optional başlanğıc dəyərlər -->
  <div
    id="slider-range"
    class="mt-2"
    data-init-min="<%= typeof minAmount !== 'undefined' ? minAmount : '' %>"
    data-init-max="<%= typeof maxAmount !== 'undefined' ? maxAmount : '' %>"
  ></div>

  <div class="flex items-center justify-between text-[11px] opacity-50 font-medium mt-2">
    <span><%= __('hesablasmalar.amount_min')%></span>
    <span><%= __('hesablasmalar.amount_max')%></span>
  </div>
</div>
                        <div class="flex items-center justify-end gap-3">
                            <button type="button"
                                class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                                onclick="closePopup()">
                                <%= __('hesablasmalar.close_btn')%>
                            </button>
                            <button type="reset" onclick="clearFilters()"
                                class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                                <%= __('hesablasmalar.clear_btn')%>
                            </button>
                            <button type="button" onclick="window.redrawTable();closePopup()"
                                class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">
                                <%= __('hesablasmalar.filter_btn')%>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="overlay" class="hidden w-full h-full fixed top-0 left-0 bg-[#0000002A] z-100"></div>

            <div id="YeniInvoys"
                class="w-[450px] hidden z-101 bg-body-bg dark:bg-side-bar-item-dark text-messages border-[3px] border-[#0000001A] dark:border-[#FFFFFF1A] shadow-md rounded-2xl fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 p-6">
                <form onsubmit="return false;" data-url="/invoice" id="addInvoiveForm">
                    <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                    <div class="flex items-center justify-center flex-col">
                        <div
                            class="flex items-center justify-center rounded-full bg-selected dark:bg-selected-color-dark h-[52px] w-[52px]">
                            <div class="icon stratis-receipt dark:text-primary-text-color-dark"></div>
                        </div>
                        <div class="text-[17px] font-semibold text-messages dark:text-primary-text-color-dark pt-3">
                            Yeni invoys
                        </div>
                        <div class="text-[13px] font-normal text-secondary-text dark:text-secondary-text-color-dark">
                            Göndəriləcək məbləği daxil edin
                        </div>
                        <div class="flex items-center justify-center mt-6">
                            <input type="hidden" name="comission" id="addComissionPop" value="<%= comission_percentage %>">
                            <input type="text" inputmode="decimal" name="balance" autocomplete="off" id="addBalanecPop"
                                class="w-[110px] text-center border-0 dark:bg-side-bar-item-dark font-semibold text-[26px] dark:text-primary-text-color-dark placeholder:text-left placeholder:text-on-surface-variant-dark dark:placeholder:text-outline-dark focus:outline-none focus:ring-0 focus:shadow-none"
                                placeholder="0.00 ₼" />
                        </div>
                        <div class="text-[13px] text-secondary-text dark:text-secondary-text-color-dark" id="comissionAddDivide">
                            <span class="font-bold">Komissiya daxil:</span> 
                            <span id="comissionBalanceAdd">0.00</span>
                        </div>
                    </div>
                    <div class="mt-8">
                        <div onclick="submitForm('addInvoive');$('#addInvoiceForm')[0].reset();"
                            class="w-full h-[40px] cursor-pointer bg-primary text-white text-[15px] font-medium rounded-full flex items-center justify-center">
                            İnvoys yarat
                        </div>
                        <div onclick="closePopup()"
                            class="w-full h-[40px] mt-3 cursor-pointer bg-surface dark:bg-surface-bright-dark text-on-surface-variant dark:text-on-surface-variant-dark text-[15px] font-medium rounded-full flex items-center justify-center">
                            Ləğv et
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal Overlay -->
<!-- Modal Overlay -->
<div id="UpdateInvoysOverlay" class="fixed inset-0 bg-black bg-opacity-50 z-100 hidden" onclick="closeEditModal()"></div>

<!-- Update Invoice Modal -->
<form id="updateInvoiceForm" onsubmit="return false;" data-url="/invoice/edit">
  <div id="UpdateInvoys"
       class="w-[450px] hidden z-101 bg-body-bg dark:bg-side-bar-item-dark text-messages border-[3px] border-[#0000001A] dark:border-[#FFFFFF1A] shadow-md rounded-2xl fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 p-6">
    
    <!-- Hidden CSRF Token -->
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

    <input type="hidden" name="invoice" id="invoiceIdHidden" value="" />
    
    <div>
      <div class="flex items-center justify-center flex-col">
        <div class="flex items-center justify-center rounded-full bg-selected dark:bg-selected-color-dark h-[52px] w-[52px]">
          <div class="icon stratis-receipt dark:text-primary-text-color-dark"></div>
        </div>
        <div class="text-[17px] font-semibold text-messages dark:text-primary-text-color-dark pt-3">
          İnvoice Redaktə et
        </div>
        <div class="text-[13px] font-normal text-secondary-text dark:text-secondary-text-color-dark">
          Yeni məbləği daxil edin
        </div>
        <div id="UpdateInvoysMessage" class="bg-[#DD38381A] w-full mt-3 py-[10px] rounded-md">
            <div class="text-center font-medium text-[12px] text-error ">Report edildi</div>
            <div id="UpdateInvoysMessageInner" class="text-center text-[11px] pt-1 text-error"></div>
        </div>
        <div class="flex items-center justify-center mt-4">
          <input type="hidden" name="comission" id="editComissionPop">

          <input 
            type="text" id="editBalanecPop"
            name="balance" 
            value="0.00 ₼" 
            inputmode="decimal"
            class="border-0 dark:bg-side-bar-item-dark font-semibold text-center text-[26px] dark:text-primary-text-color-dark placeholder:text-center placeholder:text-on-surface-variant-dark dark:placeholder:text-outline-dark focus:outline-none focus:ring-0 focus:shadow-none"
            placeholder="0.00 ₼" 
            required />
        </div>
        <div class="text-[13px] text-secondary-text dark:text-secondary-text-color-dark hidden" id="comissionEditDivide">
            <span class="font-bold">Komissiya daxil:</span> 
            <span id="comissionBalanceEdit">0.00</span>
        </div>
      </div>
      <div class="mt-8">
        <button 
          type="submit"
          class="w-full h-[40px] cursor-pointer bg-primary text-white text-[15px] font-medium rounded-full flex items-center justify-center hover:bg-primary-dark transition-colors"
          onclick="submitForm('updateInvoice')">
          Dəyişikliyi təsdiqlə
        </button>
        <div 
          onclick="closeEditModal()"
          class="w-full h-[40px] mt-3 cursor-pointer bg-surface dark:bg-surface-bright-dark text-on-surface-variant dark:text-on-surface-variant-dark text-[15px] font-medium rounded-full flex items-center justify-center">
          Ləğv et
        </div>
      </div>
    </div>
  </div>
</form>

            <!-- Delete Invoice Confirmation Modal -->
            <div id="deleteInvoiceOverlay" class="fixed inset-0 backdrop-blur-sm bg-opacity-50 z-100 hidden" onclick="closeDeleteModal()"></div>
            
            <div id="deleteInvoiceModal" class="hidden z-101 fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
                <div class="relative w-[306px] h-[208px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white dark:bg-menu-dark z-0">
                    <div class="flex items-center justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] cursor-pointer bg-error-hover rounded-[50%]">
                       <div class="icon iconex-trash-can-1 w-[14px] h-[17px] text-error"></div>
                    </div>
                    <h2 class="ml-3 mt-3 text-messages font-medium text-[15px] dark:text-[#FFFFFF]">
                        <%= __('hesablasmalar.delete_invoice_title') || 'İnvoysu silmək istədiyinizə əminsiniz?' %>
                    </h2>
                    <div class="mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px] leading-[160%] font-poppins text-messages opacity-100">
                        <span id="deleteInvoiceNumber" class="text-[13px] font-medium dark:text-[#FFFFFF]">INV-123</span>
                        <span class="font-medium dark:text-[#FFFFFF] opacity-65">
                            <%= __('hesablasmalar.delete_invoice_message') || 'nömrəli invoys silinəcək. Bu əməliyyat geri qaytarıla bilməz.' %>
                        </span>
                    </div>
                    <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                        <button class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white" onclick="closeDeleteModal()">
                            <%= __('hesablasmalar.no_btn') || 'Xeyr' %>
                        </button>
                        <button id="confirmDeleteInvoice" class="text-[12px] cursor-pointer px-2 text-on-primary font-medium bg-error rounded-[50px] !w-[80px] !h-[25px]">
                            <%= __('hesablasmalar.yes_btn') || 'Bəli, sil' %>   
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <table id="myTable" class="table-fixed border-collapse ">
            <thead class="border-none pb-0.5">
                <tr
                    class="bg-container-2 dark:bg-container-2-dark border-none text-[12px] text-secondary-text dark:text-secondary-text-color-dark font-normal">
                    <th
                        class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 rounded-l-lg filtering">
                        <%= __('hesablasmalar.invoys_num')%>
                    </th>
                    <th class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                        <%= __('hesablasmalar.amount')%>
                    </th>
                    <th class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                        <%= __('hesablasmalar.commission')%>
                    </th>
                    <th class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                        <%= __('hesablasmalar.final_amount')%>
                    </th>
                    <th class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                        <%= __('hesablasmalar.hesablasma_date')%>
                    </th>
                    <th class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                        <%= __('hesablasmalar.status')%>
                    </th>
                    <th class="w-10 px-4 py-2 rounded-r-lg"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="pt-2">
        <div class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
            <div class="py-5 flex items-center justify-between">
                <div class="text-[13px] flex items-center gap-2">
                    <span class="font-normal opacity-65">
                        <%= __('hesablasmalar.page_count')%>
                    </span>
                    <span id="pageCount" class="font-medium">1 / 49</span>
                </div>
                <div class="flex items-center gap-5">
                    <div>
                        <div id="customPagination" class="flex items-center"></div>
                    </div>
                    <div>
                        <input
                            class="page-input w-[63px] h-[32px] text-[12px] text-center text-on-surface-variant-dark dark:text-on-surface-variant-dark font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px]"
                            placeholder="<%= __('hesablasmalar.page_placeholder')%>" type="text">
                        <a href="#"
                            class="go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">
                            <%= __('hesablasmalar.go_button')%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <% scripts=` <script>
        // Global variables for slider
        var globalMinAmount = 0;
        var globalMaxAmount = 300000;
        </script>
        <script src="/js/jquery-ui.js"></script>
        <!-- <script src="/js/Avankart/Sirket-E-qaime-JS/range.js"></script> -->
        <script src="/js/hesablasmalar/hesablasmalarTable.js"></script>
        <script src="/js/hesablasmalar/Pop-up.js"></script>
        <script src="/js/datatables/datatables.min.js"></script> `;


        footerPart = `
        <div id="avankartaModalOverlay" class="fixed inset-0 z-100 bg-[#00000033] hidden"></div>

        <div id="avankartaModal" class="fixed inset-0 z-200 flex items-center justify-center hidden">
            <div
                class="relative w-[306px] h-[208px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white dark:bg-table-hover-dark dark:border-[#ffffff1A] z-50">
                <div
                    class="flex items-center justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] bg-inverse-on-surface rounded-full dark:bg-[#2E3135]">
                    <div class="icon iconex-danger-1 w-[20px] h-[20px] dark:text-[#FFFFFF]"></div>
                </div>
                <h2 class="ml-3 mt-3 text-messages font-medium text-[15px]
            dark:text-[#FFFFFF]">${__('hesablasmalar.send_to_ava')}</h2>
                <div
                    class="mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px] leading-[160%] font-poppins text-messages opacity-100">
                    <span id="avankartInvoice" class="text-[13px] font-medium dark:text-[#FFFFFF]">AA-210</span>
                    <input type="hidden" name="invoice_number" id="avankartInvoiceInput">
                    <span class="font-medium dark:text-[#FFFFFF] opacity-65">${__('hesablasmalar.modal_message_one')}
                        ${__('hesablasmalar.modal_message_two')}</span>
                </div>
                <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                    <button
                        class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white"
                        onclick="closeAvankartaModal()">${__('hesablasmalar.no_btn')}</button>
                    <button
                        class="text-[12px] cursor-pointer text-on-primary font-medium bg-success rounded-[50px] !w-[112px] !h-[25px]"
                        onclick="confirmAvankarta()">${__('hesablasmalar.yes_btn')}</button>
                </div>
            </div>
        </div>
        <div id="avankartaBalanceModal" class="fixed inset-0 z-200 flex items-center justify-center hidden">
            <div
                class="relative w-[306px] h-[166px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white dark:bg-table-hover-dark dark:border-[#ffffff1A] z-50">
                <div
                    class="flex items-center justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] bg-inverse-on-surface rounded-full dark:bg-[#2E3135]">
                    <div class="icon iconex-danger-1 w-[20px] h-[20px] dark:text-[#FFFFFF]"></div>
                </div>
                <h2 class="ml-3 mt-3 text-messages font-medium text-[15px]
                dark:text-[#FFFFFF]">Balansı təsdiqlə</h2>
                <div
                    class="flex flex-wrap mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px]  font-poppins text-messages opacity-100">
                    <span class="font-medium dark:text-[#FFFFFF] opacity-65">Balansı təsdiqləmək istədiyinizə
                        əminsiniz?</span>
                </div>
                <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                    <button
                        class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white"
                        onclick="closeAvankartaModal()">Xeyr</button>
                    <button
                        class="text-[12px] cursor-pointer text-on-primary font-medium bg-success rounded-[50px] !w-[112px] !h-[25px]"
                        onclick="confirmAvankarta()">Bəli, təsdiqlə</button>
                </div>
            </div>
        </div>
        <!-- Report modal overlay -->
        <div id="reportModalOverlay" class="fixed inset-0 z-100 bg-[#00000033] hidden"></div>

        <!-- Report modal -->
        <div id="reportModal" class="fixed inset-0 z-200 flex items-center justify-center hidden">
            <div
                class="relative w-[403px] h-[533px] border-[#0000001A] border-[2px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white z-0 dark:bg-[#161E22]">
                <div
                    class="mt-[24px] gap-[3px] font-normal ml-[20px] text-[12px] leading-[160%] font-poppins text-messages opacity-100">
                    <div class="text-[13px] font-medium mb-[5px] dark:text-white">${__('hesablasmalar.report')} </div>
                    <div class="font-normal opacity-50 text-[10px] dark:text-[#FFFFFF] opacity-50">
                        ${__('hesablasmalar.answer')}</div>
                </div>
                <div class="space-y-3 text-[12px] text-messages max-w-[363px] w-[100%] m-auto pt-[24px] h-full">
                    <form id="reportForm" onsubmit="return false;" data-url="/hesablashmalar/add-report">
                        <input type="hidden" name="hesablasma_id" id="reportInvoiceId">
                        <input type="hidden" name="_csrf" value="${csrfToken}">
                        <div class="space-y-3 text-[12px] text-messages max-w-[363px] w-[100%] m-auto pt-[24px]">
                            <div class="flex justify-between border-b pb-3">
                                <span
                                    class="font-normal opacity-50 dark:text-[#FFFFFF] ">${__('hesablasmalar.invoys_num')}:</span>
                                <span class="font-medium dark:text-[#FFFFFF]" id="reportInvoice">AA-210</span>
                            </div>
                            <div class="flex justify-between border-b pb-3">
                                <span
                                    class="font-normal opacity-50 dark:text-[#FFFFFF] ">${__('hesablasmalar.transaction_count')}:</span>
                                <span class="font-medium dark:text-[#FFFFFF]" id="reportTransactions">80</span>
                            </div>
                            <div class="flex justify-between border-b pb-3">
                                <span
                                    class="font-normal opacity-50 dark:text-[#FFFFFF] ">${__('hesablasmalar.hesablasma_amount')}</span>
                                <span class="font-medium dark:text-[#FFFFFF]" id="reportAmount">3500.00 AZN</span>
                            </div>
                            <div class="flex justify-between border-b pb-3">
                                <span
                                    class="font-normal opacity-50 dark:text-[#FFFFFF] ">${__('hesablasmalar.hesablasma_date')}:</span>
                                <span class="font-medium whitespace-nowrap dark:text-[#FFFFFF]"
                                    id="reportDate">01.12.2023 - 16.12.2023</span>
                            </div>
                        </div>
                        <div class="flex flex-col justify-between h-full">
                            <div class="space-y-[6px] max-w-[363px] w-[100%]">
                                <label for="reportMessage" class="block mt-4 text-[12px] font-medium dark:text-white">
                                    ${__('hesablasmalar.message')}
                                </label>
                                <div class="relative">
                                    <textarea id="reportMessage" name="report"
                                        class="w-full h-[73px] border pt-[3px] pl-[12px] text-gray-700 resize-none focus:outline-none focus:ring-gray-300 border-stroke border-opacity-[10%] rounded-[8px] text-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 dark:bg-[#161E22] dark:text-[#636B6F]"
                                        placeholder="${__('hesablasmalar.message_placeholder')}"
                                        maxlength="150"></textarea>
                                    <span
                                        class="absolute bottom-2 right-4 text-sm text-gray-400 dark:text-[#FFFFFF] opacity-50">${__('hesablasmalar.max_length')}</span>
                                </div>
                            </div>
                            <div class="">
                                <button type="submit" onclick="submitForm('report')"
                                    class="cursor-pointer text-[13px] mt-[8px] flex items-center justify-center w-[100%] max-w-[363px] font-poppins leading-[160%] font-medium h-[34px] bg-primary rounded-full text-on-primary hover:bg-hover-button focus:bg-primary focus:shadow-[0px_0px_16px_0px_rgba(0,0,0,0.2)] disabled:bg-primary disabled:opacity-[30%] transition-all ease-out duration-300 focus:outline-none">
                                    ${__('hesablasmalar.send')}
                                </button>
                                <button type="button" onclick="closeReportModal()"
                                    class="cursor-pointer mt-[8px] text-[13px] flex items-center justify-center w-[100%] max-w-[363px] font-poppins leading-[160%] font-medium h-[34px] bg-surface-bright rounded-full dark:bg-[#36393E] dark:text-white">
                                    ${__('hesablasmalar.cancel')}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Faktura əlavə et popup -->
        <div id="fakturaModalOverlay" class="fixed inset-0 z-100 bg-[#00000033] hidden"></div>
        <div id="fakturaModal"
            class="faktura-div hidden px-6 w-[550px] mx-auto text-messages rounded-2xl !shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] fixed top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 z-101">
            <div class="bg-body-bg dark:bg-[#161E22] rounded-xl">
                <div class="w-full flex items-center justify-between">
                    <div class="mt-6 mb-4 ml-4">
                        <h1 class="text-[17px] font-semibold dark:text-white">${__('hesablasmalar.add_factura')}</h1>
                        <span
                            class="text-[13px] font-normal opacity-50 dark:text-white dark:opacity-65 ">${__('hesablasmalar.add_doc')}</span>
                    </div>
                    <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                        class="py-[21px] mr-4 cursor-pointer block dark:hidden" onclick="fakturaClick()">
                    <img src="/images/avankart-partner-pages-images/Close-dark.svg" alt="Close" onclick="fakturaClick()"
                        class="py-[21px] mr-4 cursor-pointer hidden dark:block">
                </div>
                <div>
                    <div
                        class="w-full h-[191px] border-2 border-dashed border-[#0000001A] rounded-[8px] flex items-center flex-col">
                        <div class="py-6">
                            <div class="">
                                <img src="/images/Sorgular Pages Images/upload.svg" alt="Upload"
                                    class="m-auto dark:bg-[#0C1418] w-[42px] h-[42px]">
                            </div>
                            <div class="py-3">
                                <span
                                    class="text-[13px] font-normal dark:text-white">${__('hesablasmalar.download')}</span>
                                <div class="flex items-center justify-center gap-3">
                                    <hr class="w-[73px] h-[1px] text-[#0000001A]">
                                    <div class="text-messages  font-normal text-sm dark:text-[#FFFFFF] opacity-50">
                                        ${__('hesablasmalar.or')}</div>
                                    <hr class="w-[73px] h-[1px] text-[#0000001A]">
                                </div>
                                <label
                                    class="flex flex-col items-center gap-2 justify-center px-4 py-2 border border-surface-variant rounded-full cursor-pointer">
                                    <div class="flex items-center justify-center m-auto gap-2 dark:text-white">
                                        <div class="icon stratis-upload-01 w-3 h-[9px] mt-[5px]"></div>
                                        <span class="text-[13px] font-medium ">${__('hesablasmalar.upload')}</span>
                                    </div>
                                    <input type="file" id="fileInput" class="hidden">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="file-list" class="mt-3 pt-[11.5px] px-4"></div>
                    <div class="pt-2">
                        <span
                            class="text-start text-[12px] opacity-50 font-normal ml-4 dark:text-[#FFFFFF] opacity-50">${__('hesablasmalar.allowed_file_formats')}</span>
                    </div>
                </div>
                <div class="mt-2 border-t-[0.5px] border-[#0000001A]">
                    <div class="flex items-center justify-end py-5 mr-4 gap-3">
                        <a href="#"
                            class="py-[6.5px] px-[18px] bg-surface text-[13px] font-medium text-on-surface-variant rounded-[50px] dark:bg-[#36393E] dark:text-[#BFC8CC]"
                            onclick="fakturaClick()">${__('hesablasmalar.cancel')}</a>
                        <a href="#"
                            class="py-[6.5px] px-[18px] text-[13px] text-body-bg font-medium bg-primary rounded-[50px]">${__('hesablasmalar.upload_btn')}</a>
                    </div>
                </div>
            </div>
        </div>
        `; %>