<div id="HesabElaveEtPopUp"
                            class="w-[600px] bg-body-bg dark:bg-menu-dark z-101 hidden text-messages border-[3px] border-[#0000001A] shadow-md rounded-2xl fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                            <div
                                class="flex items-center justify-between border-b dark:border-[#FFFFFF1A] px-6 pt-[18px] pb-[18px]">
                                <div class="text-[15px] font-medium dark:text-white">Yeni hesab
                                </div>
                                <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                                    class="cursor-pointer dark:hidden" onclick="closeHesabElaveEt()" />
                                <img src="/images/avankart-partner-pages-images/Close-dark.svg" alt="Close"
                                    class="cursor-pointer hidden dark:block" onclick="closeHesabElaveEt()" />
                            </div>

                            <div class="px-6 pt-[18px] pb-[18px]">
                                <div>
                                    <form onsubmit="return false;" id="hesabElaveEtForm"
                                        data-url="/muessise-info/add-user">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <div>
                                            <div><span class="text-error text-[12px]">*</span> <span
                                                    class="text-messages text-[12px] font-medium opacity-65 dark:text-white">Ad
                                                    və Soyad</span></div>
                                            <div
                                                class="flex items-center w-full mt-1.5 border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus dark:focus-within:border-focus-color-dark hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                                <input id="customSearch" type="text" name="fullName"
                                                    placeholder="Ad və soyadınızı daxil edin"
                                                    class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] placeholder:text-on-surface-variant-dark dark:placeholder:text-on-surface-variant-dark dark:text-primary-text-color-dark placeholder:text-[12px] placeholder:font-normal">
                                            </div>
                                        </div>
                                        <div>
                                            <div><span class="text-error text-[12px]">*</span> <span
                                                    class="text-messages dark:text-white text-[12px] font-medium opacity-65">Cinsiyyət</span>
                                            </div>
                                            <div class="flex items-center gap-3 mt-2.5">
                                                <div class="flex items-center gap-2">
                                                    <input id="link-radio" type="radio" name="gender" value="male"
                                                        checked
                                                        class="w-4 h-4 text-[#745086] bg-gray-100 border-surface-variant focus:ring-[#745086] dark:focus:ring-[#745086] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                                                    <label for="link-radio"
                                                        class="text-[13px] font-medium text-messages dark:text-white cursor-pointer">
                                                        Kişi
                                                    </label>
                                                </div>
                                                <div class="flex items-center gap-2">
                                                    <input id="link-radio2" type="radio" name="gender" value="female"
                                                        class="w-4 h-4 text-[#745086] bg-gray-100 border-surface-variant focus:ring-[#745086] dark:focus:ring-[#745086] dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                                                    <label for="link-radio2"
                                                        class="text-[13px] font-medium text-messages dark:text-white cursor-pointer">
                                                        Qadin
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div><span class="text-error text-[12px]">*</span> <span
                                                    class="text-messages text-[12px] font-medium opacity-65 dark:text-white">Email</span>
                                            </div>
                                            <div
                                                class="flex items-center w-full mt-1.5 border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus dark:focus-within:border-focus-color-dark hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                                <input id="customSearch" type="text" name="email"
                                                    placeholder="Email adresinizi daxil edin"
                                                    class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] placeholder:text-on-surface-variant-dark dark:placeholder:text-on-surface-variant-dark dark:text-primary-text-color-dark placeholder:text-[12px] placeholder:font-normal ">
                                            </div>
                                        </div>
                                        <div>
                                            <div class="mt-3">
                                                <div><span class="text-error text-[12px]">*</span>
                                                    <span
                                                        class="text-messages text-[12px] font-medium opacity-65 dark:text-white">Telefon
                                                        nömrəniz</span>
                                                </div>
                                                <div class="flex items-baseline gap-2">
                                                    <div>
                                                        <button id="dropdownDefaultButton"
                                                            data-dropdown-toggle="dropdown1" type="button"
                                                            class="w-[80px] h-[34px] dark:text-white cursor-pointer flex items-center justify-between rounded-full border dark:border-[#FFFFFF1A] px-3 text-[12px] font-normal">
                                                            <span id="selectedValue">+994</span>
                                                            <svg class="w-2.5 h-2.5 ms-3" fill="none"
                                                                viewBox="0 0 10 6">
                                                                <path stroke="currentColor" stroke-linecap="round"
                                                                    stroke-linejoin="round" stroke-width="2"
                                                                    d="m1 1 4 4 4-4" />
                                                            </svg>
                                                        </button>

                                                        <div id="dropdown1"
                                                            class="z-10 hidden bg-white rounded-lg w-[80px] border shadow">
                                                            <ul class="py-1 px-1"
                                                                aria-labelledby="dropdownDefaultButton">
                                                                <li><a href="#" class="block px-4 py-2 text-sm"
                                                                        data-value="+01">+01</a>
                                                                </li>
                                                                <li><a href="#" class="block px-4 py-2 text-sm"
                                                                        data-value="+010">+010</a>
                                                                </li>
                                                                <li><a href="#" class="block px-4 py-2 text-sm"
                                                                        data-value="+994">+994</a>
                                                                </li>
                                                                <li><a href="#" class="block px-4 py-2 text-sm"
                                                                        data-value="+600">+600</a>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                        <select id="realSelect" class="hidden" name="phone_suffix">
                                                            <option value="+01">+01</option>
                                                            <option value="+010">+010</option>
                                                            <option value="+994" selected>+994
                                                            </option>
                                                            <option value="+600">+600</option>
                                                        </select>
                                                    </div>
                                                    <div
                                                        class="flex items-center w-full mt-1.5 border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus dark:focus-within:border-focus-color-dark hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                                        <input id="customSearch" type="text" name="phoneNumber"
                                                            placeholder="Telefon nömrənizi daxil edin"
                                                            class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0 text-[13px] placeholder:text-on-surface-variant-dark dark:placeholder:text-on-surface-variant-dark dark:text-primary-text-color-dark placeholder:text-[12px] placeholder:font-normal ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div><span class="text-error text-[12px]">*</span> <span
                                                    class="text-messages text-[12px] font-medium opacity-65 dark:text-white">Vəzifə</span>
                                            </div>
                                            <div>
                                                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown2"
                                                    type="button"
                                                    class="w-full h-[34px] dark:text-white flex items-center justify-between cursor-pointer rounded-full border dark:border-[#FFFFFF1A] px-3 text-[12px] font-normal">
                                                    <span id="selectedValue2">Seçim edin</span>
                                                    <svg class="w-2.5 h-2.5 ms-3" fill="none" viewBox="0 0 10 6">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                                    </svg>
                                                </button>

                                                <div id="dropdown2"
                                                    class="z-10 hidden bg-white dark:bg-menu-dark dark:text-white rounded-lg w-[552px] border dark:border-[#FFFFFF1A] shadow">


                                                    <ul class="py-1 px-1" aria-labelledby="dropdownDefaultButton">
                                                        <% duties.forEach(d=> { %>
                                                            <li>
                                                                <a href="#"
                                                                    class="block px-4 py-2 text-[13px] font-medium"
                                                                    data-value="<%= d._id %>">
                                                                    <%= d.name %>
                                                                </a>
                                                            </li>
                                                            <% }) %>
                                                    </ul>
                                                </div>
                                                <select id="realSelect2" class="hidden" name="dutyId">
                                                    <% duties.forEach(d=> { %>
                                                        <option value="<%= d._id %>">
                                                            <%= d.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div><span class="text-error text-[12px]">*</span> <span
                                                    class="text-messages text-[12px] font-medium opacity-65 dark:text-white">Müəssisə
                                                    adı</span></div>
                                            <div
                                                class="flex items-center w-full mt-1.5 border dark:bg-da border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden focus-within:border-focus dark:focus-within:border-focus-color-dark hover:bg-input-hover dark:hover:bg-input-hover-dark">
                                                <input id="customSearch" type="text" disabled
                                                    placeholder="Özsüt Restoran"
                                                    class="w-full h-full bg-[#EBEBEB]  border-none text-[13px] placeholder:text-messages placeholder:opacity-65 dark:placeholder:text-on-surface-variant-dark dark:text-primary-text-color-dark placeholder:text-[12px] placeholder:font-normal dark:bg-[#161E22] ">
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <div><span class="text-error text-[12px]">*</span> <span
                                                    class="text-messages text-[12px] font-medium opacity-65 dark:text-white">Səlahiyyət
                                                    qrupu</span></div>
                                            <div>
                                                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown3"
                                                    type="button"
                                                    class="w-full h-[34px] dark:text-white flex items-center justify-between cursor-pointer rounded-full border px-3 text-[12px] font-normal dark:border-[#FFFFFF1A]">
                                                    <span id="selectedValue3">Seçim edin</span>
                                                    <svg class="w-2.5 h-2.5 ms-3" fill="none" viewBox="0 0 10 6">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                                                    </svg>
                                                </button>

                                                <div id="dropdown3"
                                                    class="z-10 hidden bg-white dark:bg-menu-dark dark:text-white rounded-lg w-[552px] border-[1px] border-[#0000001A] dark:border-[#FFFFFF1A] shadow">
                                                    <ul class="py-1 px-1" aria-labelledby="dropdownDefaultButton">
                                                        <% permissions.forEach(p=> { %>
                                                            <li>
                                                                <a href="#"
                                                                    class="block px-4 py-2 text-[13px] font-medium"
                                                                    data-value="<%= p._id %>">
                                                                    <%= p.name %>
                                                                </a>
                                                            </li>
                                                            <% }) %>
                                                    </ul>
                                                </div>
                                                <select id="realSelect3" class="hidden" name="authId">
                                                    <% permissions.forEach(p=> { %>
                                                        <option value="<%= p._id %>">
                                                            <%= p.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- form və digər elementlər burada olacaq -->
                            <div class="px-6 py-5 border-t dark:border-[#FFFFFF1A]">
                                <div class="flex items-center justify-end gap-3">
                                    <button type="button"
                                        class="bg-surface dark:bg-surface-bright-dark dark:text-on-surface-variant-dark rounded-full text-[13px] px-[18px] py-[6.5px] cursor-pointer"
                                        onclick="closeHesabElaveEt()">Ləğv et</button>
                                    <button type="button" onclick="submitForm('hesabElaveEt')"
                                        class="bg-primary rounded-full text-white text-[13px] px-[18px] py-[6.5px] cursor-pointer">Yarat</button>
                                </div>
                            </div>
                        </div>
                        <script>
                            window.addEventListener('DOMContentLoaded', () => {
                                document.querySelectorAll('#dropdown2 a').forEach(item => {
                                    item.addEventListener('click', function (e) {
                                        e.preventDefault();
                                        const id = this.dataset.value;
                                        const name = this.innerText.trim();
                                        document.getElementById('selectedValue2').innerText = name;
                                        document.getElementById('realSelect2').value = id;
                                    });
                                });

                                document.querySelectorAll('#dropdown3 a').forEach(item => {
                                    item.addEventListener('click', function (e) {
                                        e.preventDefault();
                                        const id = this.dataset.value;
                                        const name = this.innerText.trim();
                                        document.getElementById('selectedValue3').innerText = name;
                                        document.getElementById('realSelect3').value = id;
                                    });
                                });
                            });
                        </script>