 <div class>
    <div
        class="flex items-center gap-3 text-[13px] text-messages dark:text-primary-text-color-dark font-medium">
        <div class="flex items-center gap-2">
            <a href="../dashboard/dashboard.htm"
                class="cursor-pointer hover:text-primary dark:hover:text-primary-dark">Avankart</a>
            <div class="icon stratis-slash-01-forward"></div>
        </div>
        <div class="flex items-center gap-2">
            <a href="#"
                class="text-tertiary-text dark:text-tertiary-text-color-dark">İşçilərin
                balansı</a>
        </div>
    </div>
    <div class="hidden md:flex  py-3 rounded-lg  h-[69px]">
        <div class="flex gap-3 w-full text-message pb-2 h-[65px]">
            <div
                class="border-[#00A3FF] pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark border-l-[3px] max-w-[538px]  rounded-[12px]  w-[100%]">
                <p class="text-[11px] opacity-50 pb-[4px]">Aktiv</p>
                <p class="text-[17px] font-semibold aktiv-count"><%=
                    data.summary.active_count || 0 %></p>
            </div>
            <div
                class="border-[#FFA100] pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark border-l-[3px] max-w-[538px]  rounded-[12px]  w-[100%]">
                <p class="text-[11px] opacity-50 pb-[4px]">Gözləyir</p>
                <p class="text-[17px] font-semibold gozleyir-count"><%=
                    data.summary.passive_count || 0 %></p>
            </div>
            <div
                class="border-[#32B5AC] pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark border-l-[3px] max-w-[538px]  rounded-[12px]  w-[100%]">
                <p class="text-[11px] opacity-50 pb-[4px]">Tamamlandı</p>
                <p class="text-[17px] font-semibold tamamlandi-count"><%=
                    data.summary.completed_count || 0 %></p>
            </div>

            <div
                class="pl-[12px] pt-[8px] text-messages dark:text-primary-text-color-dark bg-sidebar-bg dark:bg-side-bar-bg-dark  max-w-[538px] rounded-[12px] w-[100%]">
                <p class="text-[11px] opacity-50 pb-[4px]">Toplam hesablaşma</p>
                <p class="text-[17px] font-semibold toplam-stat"><%=
                    (data.summary.totalBalance || 0).toFixed(2) %> AZN</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-3">
        <div
            class="pb-3 flex items-center justify-between border-b-[.5px] border-stroke dark:border-[#FFFFFF1A] mt-[15px]">
            <div id="mainTitle"
                class="text-[15px] text-messages dark:text-primary-text-color-dark font-medium pt-[5px]">
                İşçilərin balansı 
            </div>
            <div id="monthTitle"
                class="my-3 w-[176px] h-[36px] px-2 rounded-[8px] bg-container-2 dark:bg-container-2-dark text-messages dark:text-primary-text-color-dark flex items-center justify-between hidden">
                <div class="flex items-center gap-2">
                    <span
                        class="icon stratis-calendar-07 dark:text-primary-text-color-dark"></span>
                    <div id="monthTitleText"
                        class="text-[13px] font-medium">2024 - Yanvar</div>
                </div>
                <input type="hidden" id="monthYearHidden">
                <input type="hidden" id="monthMonthHidden">
                <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                    class="cursor-pointer dark:hidden"
                    onclick="backToMainTable()">
                <img src="/images/avankart-partner-pages-images/Close-dark.svg"
                    alt="Close"
                    class="cursor-pointer hidden dark:block"
                    onclick="backToMainTable()">
            </div>

            <div class="flex items-center gap-2">
                <div
                    class="relative flex items-center w-[237px] border border-surface-variant dark:border-surface-variant-dark rounded-full overflow-hidden
                                    focus-within:border-focus focus-within:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                                    focus-within:ring-0 focus-within:outline-none
                                    active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                                    transition-all ease-out duration-300
                                    hover:bg-input-hover dark:hover:bg-input-hover-dark">
                    <input id="customSearch" type="text" placeholder="Search..."
                        class="w-full h-full bg-transparent border-none focus:outline-none outline-none ring-0 focus:ring-0
                                    text-[13px] text-messages dark:text-primary-text-color-dark
                                    placeholder:text-on-surface-variant-dark dark:placeholder:text-[#636B6F]">
                    <div class="absolute right-3">
                        <div
                            class="icon stratis-search-02 dark:text-primary-text-color-dark"></div>
                    </div>
                </div>

                <div id="refreshPage"
                    class="cursor-pointer w-[155px] border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                    <div>Səhifəni yenilə</div>
                    <div
                        class="icon stratis-arrow-refresh-04 text-messages dark:text-primary-text-color-dark">
                    </div>
                </div>
                <div onclick="openFilterModal()"
                    class="w-[92px] cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]">
                    <a href="#"
                        class="icon stratis-filter  text-messages dark:text-primary-text-color-dark mt-[2.5px]"></a>
                    <a href="#" class>Filter</a>
                </div>
                <button onclick="openInvoysPopup()" id='add-invoys'
                    class="add-invoys  cursor-pointer border border-surface-variant dark:border-surface-variant-dark rounded-full flex items-center justify-center gap-2 text-[13px] text-messages dark:text-primary-text-color-dark hover:text-focus dark:hover:text-focus-color-dark font-medium py-[6.5px] px-[18px]  ">
                    <img
                        src="/images/Avankart/iscilerinBalansi-images/flex-columns.svg"
                        alt
                        class="dark:invert">
                    <span
                        class="text-[#1D222B] dark:text-white dark:text-primary-text-color-dark">İnvoys
                        qovluğu</span>
                </button>
            </div>
        </div>

        <div id="filterPop"
            class="w-[450px] hidden font-poppins dark:bg-menu-dark text-messages dark:text-primary-text-color-dark border-[#0000001A] dark:border-[#FFFFFF1A] border-[3px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-2xl bg-white z-101 fixed top-[50%] left-[50%] transform -translate-y-1/2 -translate-x-1/2 p-6">
            <form onsubmit="return false;" data-url="/isci/add-balance-table" id="filterForm">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <div>
                    <div class="flex items-center justify-between">
                        <div class="text-[15px] font-medium">
                            Filter
                        </div>
                        <img src="/images/Sorgular Pages Images/Close.svg"
                            alt="Close"
                            onclick="openFilterModal()"
                            class="cursor-pointer dark:hidden">
                        <img
                            src="/images/avankart-partner-pages-images/Close-dark.svg"
                            alt="Close" onclick="openFilterModal()"
                            class="cursor-pointer hidden dark:block">
                    </div>
                    <div class="mt-3">
                        <span class="text-[12px] font-medium opacity-65">Tarix
                            aralığı</span>
                        <div class="flex items-center gap-3">
                            <div class="w-1/2">
                                <div class="relative w-full">
                                    <input id="startDate"
                                        class="custom-date cursor-pointer text-[13px] font-normal placeholder-[#BFC8CC] dark:placeholder-[#636B6F] bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-full px-3 py-[6.5px] w-full appearance-none
                        focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                        active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                        transition-all ease-out duration-300" type="date"
                                        placeholder="dd/mm/yyyy">
                                    <div onclick="openDatePicker('startDate')"
                                        id="startCalendar"
                                        class="cursor-pointer text-messages dark:text-primary-text-color-dark icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 group-focus:text-focus dark:group-focus:text-focus-color-dark">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div
                                        class="icon stratis-information-circle-contained w-3 h-3 opacity-50">
                                    </div>
                                    <div
                                        class="text-[11px] font-normal opacity-50">Başlanğıc
                                        tarixini
                                        qeyd edin</div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div class="relative w-full">
                                    <input id="endDate"
                                        class="custom-date cursor-pointer text-[13px] font-normal placeholder-[#BFC8CC] dark:placeholder-[#636B6F] bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-full px-3 py-[6.5px] w-full appearance-none
                        focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                        active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                        transition-all ease-out duration-300" type="date"
                                        placeholder="dd/mm/yyyy">
                                    <div onclick="openDatePicker('endDate')"
                                        id="endCalendar"
                                        class="cursor-pointer text-messages dark:text-primary-text-color-dark icon stratis-calendar-02 absolute right-3 top-1/2 transform -translate-y-1/2 w-5 h-5 group-focus:text-focus dark:group-focus:text-focus-color-dark">
                                    </div>
                                </div>
                                <div class="flex items-center gap-2 mt-1.5">
                                    <div
                                        class="icon stratis-information-circle-contained w-3 h-3 opacity-50">
                                    </div>
                                    <div
                                        class="text-[11px] font-normal opacity-50">Son
                                        tarixi qeyd edin
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <span
                        class="text-[12px] font-medium opacity-65">Status</span>
                    <div class="mt-[6px]">
                        <div class="flex items-center flex-wrap gap-4">
                            <label class="flex items-center gap-2">
                                <input type="checkbox" id="newCheckbox1" name="status" value="active"
                                    class="peer hidden">
                                <label for="newCheckbox1"
                                    class="w-5 h-5 border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div
                                        class="icon stratis-check-01 scale-60"></div>
                                </label>
                                <span
                                    class="text-[13px] text-messages dark:text-primary-text-color-dark font-normal cursor-pointer">Aktiv</span>
                            </label>
                            <label class="flex items-center gap-2">
                                <input type="checkbox" id="newCheckbox2" name="status" value="waiting"
                                    class="peer hidden">
                                <label for="newCheckbox2"
                                    class="w-5 h-5 border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div
                                        class="icon stratis-check-01 scale-60"></div>
                                </label>
                                <span
                                    class="text-[13px] text-messages dark:text-primary-text-color-dark font-normal cursor-pointer">Gözləyir</span>
                            </label>
                            <label class="flex items-center gap-2">
                                <input type="checkbox" id="newCheckbox3" name="status" value="completed"
                                    class="peer hidden">
                                <input type="checkbox" id="newCheckbox3" name="status" value="tamamlandi"
                                    class="peer hidden">
                                <label for="newCheckbox3"
                                    class="w-5 h-5 border border-surface-variant dark:border-surface-variant-dark rounded-[2px] flex items-center justify-center text-on-primary dark:text-side-bar-item-dark peer-checked:bg-primary dark:peer-checked:bg-primary-dark peer-checked:text-on-primary dark:peer-checked:text-on-primary-dark peer-checked:border-primary dark:peer-checked:border-primary-dark transition cursor-pointer">
                                    <div
                                        class="icon stratis-check-01 scale-60"></div>
                                </label>
                                <span
                                    class="text-[13px] text-messages dark:text-primary-text-color-dark font-normal cursor-pointer">Tamamlandı</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="my-4">
                    <div class="my-4">
                            <span class="text-[12px] font-medium opacity-65">
                                <%= __('hesablasmalar.amount_range')%>
                            </span>
                            <div class="value-container mt-2 flex justify-between">
                                <span id="min-value" class="value-label text-[13px] text-messages font-medium"></span>
                                <span id="max-value" class="value-label text-[13px] text-messages font-medium"></span>
                            </div>
                            <div id="slider-range" class="mt-2"></div>
                            <div class="flex items-center justify-between text-[11px] opacity-50 font-medium mt-2">
                                <span>
                                    <%= __('hesablasmalar.amount_min')%>
                                </span>
                                <span>
                                    <%= __('hesablasmalar.amount_max')%>
                                </span>
                            </div>
                        </div>
                </div>
            </form>
                <div class="flex items-center justify-end gap-3">
                    <button type="button"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages"
                        onclick="openFilterModal()">Bağla</button>
                    <button type="reset"
                        class="bg-surface rounded-[50px] dark:bg-surface-bright-dark dark:text-on-surface-variant-dark text-on-surface-variant text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:text-messages">Filterləri
                        təmizlə</button>
                    <button type="button" onclick="filterBalances();openFilterModal()"
                        class="bg-primary rounded-[50px] text-white text-[13px] font-medium px-[18px] py-[6.5px] cursor-pointer hover:bg-hover-button">Filterlə</button>
                </div>
            </div>
    </div>

    <div id="UpdateInvoys"
        class="w-[450px] hidden z-101 bg-body-bg dark:bg-side-bar-item-dark text-messages border-[3px] border-[#0000001A] dark:border-[#FFFFFF1A] shadow-md rounded-2xl fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 p-6">
        <div>
            <div class="flex items-center justify-center flex-col">
                <div
                    class="flex items-center justify-center rounded-full bg-selected dark:bg-selected-color-dark h-[52px] w-[52px]">
                    <div
                        class="icon stratis-receipt dark:text-primary-text-color-dark"></div>
                </div>
                <div
                    class="text-[17px] font-semibold text-messages dark:text-primary-text-color-dark pt-3">
                    Yeni invoys
                </div>
                <div
                    class="text-[13px] font-normal text-secondary-text dark:text-secondary-text-color-dark">
                    Göndəriləcək məbləği daxil edin
                </div>
                <div class="flex items-center justify-center mt-6">
                    <input type="text" value="80.750.00 ₼" inputmode="decimal"
                        class="border-0 dark:bg-side-bar-item-dark font-semibold text-center text-[26px] dark:text-primary-text-color-dark placeholder:text-center placeholder:text-on-surface-variant-dark dark:placeholder:text-outline-dark focus:outline-none focus:ring-0 focus:shadow-none"
                        placeholder="0.00 ₼" />
                </div>
            </div>
            <div class="mt-8">
                <div
                    class="w-full h-[40px] cursor-pointer bg-primary text-white text-[15px] font-medium rounded-full flex items-center justify-center">
                    Dəyişikliyi təsdiqlə
                </div>
                <div onclick="updateInvoys()"
                    class="w-full h-[40px] mt-3 cursor-pointer bg-surface dark:bg-surface-bright-dark text-on-surface-variant dark:text-on-surface-variant-dark text-[15px] font-medium rounded-full flex items-center justify-center">
                    Ləğv et
                </div>
            </div>
        </div>
    </div>
    <table id="myTable" class="table-fixed border-collapse ">
        <thead class="border-none pb-0.5">
            <tr
                class="bg-container-2 dark:bg-container-2-dark border-none text-[12px] text-secondary-text dark:text-secondary-text-color-dark font-normal">
                <th
                    class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 rounded-l-lg filtering">
                    Invoys nömrəsi</th>
                <th
                    class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                    Kart sayı</th>
                <th
                    class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                    Məbləğ</th>
                <th
                    class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                    Tarix</th>
                <th
                    class="border-r-[.5px] border-r-stroke dark:border-[#FFFFFF1A] px-4 py-2 filtering">
                    Status</th>
                <th class="w-10 px-4 py-2 rounded-r-lg"></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<div class="pt-2">
    <div
        class="bg-sidebar-bg dark:bg-side-bar-bg-dark rounded-t-[8px] px-6 flex flex-col gap-3">
        <div class="py-5 flex items-center justify-between">
            <div class="text-[13px] flex items-center gap-2">
                <span class="font-normal opacity-65">Səhifə sayı:</span>
                <span id="pageCount" class="font-medium">1 / 49</span>
            </div>
            <div class="flex items-center gap-5">
                <div>
                    <div id="customPagination" class="flex items-center"></div>
                </div>
                <div>
                    <input
                        class="page-input w-[63px] h-[32px] text-[12px] text-center text-messages dark:text-primary-text-color-dark placeholder:text-on-surface-variant-dark dark:text-[#636B6F] font-normal bg-menu dark:bg-menu-dark hover:bg-input-hover dark:hover:bg-input-hover-dark border border-stroke dark:border-[#FFFFFF1A] rounded-[8px]
                                                focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 focus:outline-none
                                                active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)]
                                                transition-all ease-out duration-300"
                        type="text" placeholder="Səhifə">
                    <a href="#"
                        class="go-button text-[13px] text-body-bg dark:text-primary-text-color-dark font-medium bg-primary dark:bg-primary-dark hover:bg-hover-button dark:hover:bg-hover-button-dark rounded-[8px] py-[6.5px] px-[18px]">GO</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="avankartaModalOverlay"
    class="fixed inset-0 z-100 bg-[#00000033] hidden"></div>

<div id="avankartaModal"
    class="fixed inset-0 z-200 flex items-center justify-center hidden">
    <div
        class="relative w-[306px] h-[166px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white dark:bg-table-hover-dark dark:border-[#ffffff1A] z-50">
        <div
            class="flex items-center justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] bg-inverse-on-surface rounded-full dark:bg-[#2E3135]">
            <div
                class="icon iconex-danger-1 w-[20px] h-[20px] dark:text-[#FFFFFF]"></div>
        </div>
        <h2 class="ml-3 mt-3 text-messages font-medium text-[15px]
            dark:text-[#FFFFFF]">İnvoysu təsdiqlə</h2>
        <div
            class="flex flex-wrap mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px]  font-poppins text-messages opacity-100">
            <span class="font-medium dark:text-[#FFFFFF] opacity-65">İnvoysu
                təsdiqləmək istədiyinizə
                əminsiniz?</span>
        </div>
        <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
            <button
                class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white"
                onclick="closeAvankartaModal()">Xeyr</button>
            <button
                class="text-[12px] cursor-pointer text-on-primary font-medium bg-success rounded-[50px] !w-[112px] !h-[25px]"
                onclick="confirmAvankarta()">Bəli, təsdiqlə</button>
        </div>
    </div>
</div>
<div id="avankartaBalanceModal" class="fixed inset-0 z-200 flex items-center justify-center hidden">
        <div
            class="relative w-[306px] h-[166px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white dark:bg-table-hover-dark dark:border-[#ffffff1A] z-50">
            <div
                class="flex items-center justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] bg-inverse-on-surface rounded-full dark:bg-[#2E3135]">
                <div class="icon iconex-danger-1 w-[20px] h-[20px] dark:text-[#FFFFFF]"></div>
            </div>
            <h2 class="ml-3 mt-3 text-messages font-medium text-[15px]
            dark:text-[#FFFFFF]">Balansı təsdiqlə</h2>
            <div
                class="flex flex-wrap mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px]  font-poppins text-messages opacity-100">
                <span class="font-medium dark:text-[#FFFFFF] opacity-65">Balansı təsdiqləmək istədiyinizə
                    əminsiniz?</span>
            </div>
            <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
                <button
                    class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white"
                    onclick="closeAvankartaModal()">Xeyr</button>
                <button
                    class="text-[12px] cursor-pointer text-on-primary font-medium bg-success rounded-[50px] !w-[112px] !h-[25px]"
                    onclick="confirmAvankarta()">Bəli, təsdiqlə</button>
            </div>
        </div>
    </div>
<!-- Report modal overlay -->
<div id="reportModalOverlay"
    class="fixed inset-0 z-100 bg-[#00000033] hidden"></div>

<!-- Report modal -->
<div id="reportModal"
    class="fixed inset-0 z-200 flex items-center justify-center hidden">
    <div
        class="relative w-[403px] h-[533px] border-[#0000001A] border-[2px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white z-0 dark:bg-[#161E22]">
        <div
            class="mt-[24px] gap-[3px] font-normal ml-[20px] text-[12px] leading-[160%] font-poppins text-messages opacity-100">
            <div
                class="text-[13px] font-medium mb-[5px] dark:text-white">Report</div>
            <div
                class="font-normal opacity-50 text-[10px] dark:text-[#FFFFFF] opacity-50">7/24
                cavablamağa hazırıq
            </div>
        </div>
        <div
            class="space-y-3 text-[12px] text-messages max-w-[363px] w-[100%] m-auto pt-[24px]">
            <div class="flex justify-between border-b pb-3">
                <span
                    class="font-normal opacity-50 dark:text-[#FFFFFF] opacity-50">İnvoys
                    nömrəsi:</span>
                <span class="font-medium dark:text-[#FFFFFF]"
                    id="reportInvoice">AA-210</span>
            </div>
            <div class="flex justify-between border-b pb-3">
                <span
                    class="font-normal opacity-50 dark:text-[#FFFFFF] opacity-50">Tranzaksiya
                    sayı:</span>
                <span class="font-medium dark:text-[#FFFFFF]"
                    id="reportTransactions">80</span>
            </div>
            <div class="flex justify-between border-b pb-3">
                <span
                    class="font-normal opacity-50 dark:text-[#FFFFFF] opacity-50">Hesablaşma
                    məbləği:</span>
                <span class="font-medium dark:text-[#FFFFFF]"
                    id="reportAmount">3500.00 AZN</span>
            </div>
            <div class="flex justify-between border-b pb-3">
                <span
                    class="font-normal opacity-50 dark:text-[#FFFFFF] opacity-50">Hesablaşma
                    tarixi:</span>
                <span class="font-medium whitespace-nowrap dark:text-[#FFFFFF]"
                    id="reportDate">01.12.2023 -
                    16.12.2023</span>
            </div>
        </div>
        <div class="space-y-[6px] max-w-[363px] w-[100%] m-auto">
            <label
                class="block text-messages opacity-65 text-[12px] mt-[12px] font-medium dark:text-[#FFFFFF] opacity-65">Mesajınız</label>
            <div class="relative">
                <textarea
                    class="w-full h-[73px] border pt-[3px] pl-[12px] text-gray-700 resize-none focus:outline-none focus:ring-gray-300 border-stroke border-opacity-[10%] rounded-[8px] text-[12px] placeholder-on-surface-variant-dark hover:bg-input-hover focus:border-focus focus:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] focus:ring-0 active:border-focus active:shadow-[0px_0px_0px_2.5px_var(--color-button-disabled)] transition-all ease-out duration-300 dark:bg-[#161E22] dark:text-[#636B6F]"
                    placeholder="Mesajınızı daxil edin"
                    maxlength="150"></textarea>
                <span
                    class="absolute bottom-2 right-4 text-sm text-gray-400 dark:text-[#FFFFFF] opacity-50">max:
                    150</span>
            </div>
        </div>
        <button type="submit"
            class="cursor-pointer text-[13px] mt-[73px] flex items-center justify-center mx-[24px] w-[100%] max-w-[363px] font-poppins leading-[160%] font-medium h-[34px] bg-primary rounded-full text-on-primary hover:bg-hover-button focus:bg-primary focus:shadow-[0px_0px_16px_0px_rgba(0,0,0,0.2)] disabled:bg-primary disabled:opacity-[30%] transition-all ease-out duration-300 focus:outline-none">
            Göndər
        </button>
        <button type="button" onclick="closeReportModal()"
            class="cursor-pointer mt-[8px] text-[13px] flex items-center justify-center mx-[24px] w-[100%] max-w-[363px] font-poppins leading-[160%] font-medium h-[34px] bg-surface-bright rounded-full dark:bg-[#36393E] dark:text-white">
            Ləğv et
        </button>
    </div>
</div>
<!-- Faktura əlavə et popup -->
<div id="fakturaModalOverlay"
    class="fixed  inset-0 z-100 bg-[#00000033] hidden"></div>
<div id="drop-zone"
    class="faktura-div hidden px-6 w-[550px] mx-auto text-messages rounded-2xl  fixed top-[50%] left-[50%] transform -translate-x-1/2 -translate-y-1/2 z-101">
    <div
        class="bg-body-bg px-[24px] border-[3px] border-[#0000001A] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] dark:bg-[#161E22] rounded-xl">
        <div class="w-full flex items-center justify-between">
            <div class="mt-6 mb-4 ml-4">
                <h1 class="text-[17px] font-semibold dark:text-white">Faktura
                    əlavə et</h1>
                <span
                    class="text-[13px] font-normal opacity-50 dark:text-white dark:opacity-65 ">Sənədlərinizi
                    buraya əlavə edin</span>
            </div>
            <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                class="py-[21px] mr-4 cursor-pointer block dark:hidden"
                onclick="fakturaClick()">
            <img src="/images/avankart-partner-pages-images/Close-dark.svg"
                alt="Close"
                onclick="fakturaClick()"
                class="py-[21px] mr-4 cursor-pointer hidden dark:block">
        </div>
        <div>
            <div
                class="w-full h-[202px] border-2 border-dashed border-[#0000001A] dark:border-[#FFFFFF1A] rounded-[8px] flex items-center flex-col">
                <div class="py-6">
                    <div class>
                        <img src="/images/Sorgular Pages Images/upload.svg"
                            alt="Upload"
                            class="m-auto dark:bg-[#0C1418] w-[42px] h-[42px]">
                    </div>
                    <div class="py-3">
                        <span
                            class="text-[13px] font-normal dark:text-white">Yükləmək
                            üçün fayllarınızı sürüşdürüb,
                            buraxın</span>
                        <div
                            class="flex items-center justify-center gap-3 my-2">
                            <hr class="w-[73px] h-[1px] text-[#0000001A]">
                            <div
                                class="text-messages opacity-50 font-normal text-sm dark:text-[#FFFFFF] opacity-50">
                                Və ya</div>
                            <hr class="w-[73px] h-[1px] text-[#0000001A]">
                        </div>
                        <label
                            class="flex flex-col items-center gap-2 justify-center px-4 py-2 border border-surface-variant rounded-full cursor-pointer">
                            <div
                                class="flex items-center justify-center m-auto gap-2 dark:text-white">
                                <div
                                    class="icon stratis-upload-01 w-3 h-[9px] mt-[5px]"></div>
                                <span class="text-[13px] font-medium ">Fayl
                                    əlavə et</span>
                            </div>
                            <input type="file" id="fileInput" class="hidden">
                        </label>
                    </div>
                </div>
            </div>
            <div id="file-list" class="mt-3 pt-[11.5px] px-4"></div>
            <div class="pt-2">
                <span
                    class="text-start text-[12px] opacity-50 font-normal ml-4 dark:text-[#FFFFFF] opacity-50">Yalnız
                    PDF, JPG, PNG faylları dəstəklənir</span>
            </div>
        </div>
        <div class="mt-2">
            <div class="flex items-center justify-end py-5 mr-4 gap-3">
                <a href="#"
                    class="py-[6.5px] px-[18px] bg-surface text-[13px] font-medium text-on-surface-variant rounded-[50px] dark:bg-[#36393E] dark:text-[#BFC8CC]"
                    onclick="fakturaClick()">Ləğv et</a>
                <a href="#"
                    class="py-[6.5px] px-[18px] text-[13px] text-body-bg font-medium bg-primary rounded-[50px]">Yüklə</a>
            </div>
        </div>
    </div>
</div>
<div id="deleteInvoiceModalOverlay"
    class="fixed inset-0 z-100 bg-[#00000033] hidden"></div>
<div id="deleteInvoiceModal"
    class="fixed inset-0 z-200 flex items-center justify-center hidden">
    <div
        class="relative w-[306px] h-[166px] border-[#0000001A] border-[0.5px] shadow-[0px_0px_30px_0px_rgba(0,0,0,0.05)] rounded-[12px] bg-white dark:bg-table-hover-dark dark:border-[#ffffff1A] z-50">
        <div
            class="flex items-center justify-center mt-[12px] ml-[12px] w-[40px] h-[40px] bg-[#DD38381A] rounded-full dark:bg-[#F062621A]">
            <div
                class="icon stratis-trash-01 w-[20px] h-[20px] text-[#DD3838] dark:text-[#E03B3B] "></div>
        </div>
        <h2
            class="ml-3 mt-3 text-messages font-medium text-[15px] dark:text-[#FFFFFF]">Silmək</h2>
        <div
            class="flex flex-wrap mt-[12px] ml-[12px] gap-[3px] font-normal text-[13px] font-poppins text-messages opacity-100">
            <span class="font-medium dark:text-[#FFFFFF] text-[#1D222B]">AA-210
                <span
                    class="text-[#1D222BA6] dark:text-[#FFFFFFA6]">
                    invoysu silmək istədiyinizə əminsiniz?
                </span></span>
        </div>
        <div class="absolute bottom-[12px] right-[12px] flex gap-[12px]">
            <button
                class="text-[12px] cursor-pointer text-on-surface-variant font-medium bg-surface-bright rounded-[50px] !w-[51px] !h-[25px] dark:bg-[#36393E] dark:text-white"
                onclick="closeDeleteInvoiceModal()">Xeyr</button>
            <button
                class="text-[12px] cursor-pointer text-on-primary font-medium bg-error rounded-[50px] !w-[70px] !h-[25px]"
                onclick="acceptDeleteInvoice();closeDeleteInvoiceModal();">Bəli, sil</button>
        </div>
    </div>
</div>

<div id="invoysPopupOverlay"
    class="hidden fixed inset-0 bg-[#00000033] z-100"></div>
<!-- İnvoys Popup -->
<div id="invoysPopup"
    class="hidden fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[1152px] h-[502px] bg-body-bg dark:bg-side-bar-item-dark text-messages border-[3px] border-[#0000001A] dark:border-[#FFFFFF1A] shadow-md rounded-2xl z-101 p-6">
    <div>
        <div class="flex items-center justify-between">
            <h2
                class="text-[15px] font-semibold text-messages dark:text-primary-text-color-dark">
                İllər</h2>
            <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                class="cursor-pointer dark:hidden"
                onclick="closeInvoysPopup()">
            <img src="/images/avankart-partner-pages-images/Close-dark.svg"
                alt="Close"
                class="cursor-pointer hidden dark:block"
                onclick="closeInvoysPopup()">
        </div>

        <div class="mt-6">
            <div class="grid grid-cols-5 gap-5 pt-4">
                <!-- İllər -->
                <% data.qovluq.forEach(year =>{ %>
                <div
                    class="text-left ml-2 cursor-pointer border-bottom: 0.5px solid border-[]"
                    onclick="openMonthsPopup(<%= year.year %>) ">
                    <h3
                        class="text-[15px] font-medium text-messages dark:text-primary-text-color-dark">
                        <%= year.year %></h3>
                    <p
                        class="text-[11px] text-[#1D222B80] dark:text-secondary-text-color-dark mt-2">
                        <%= year.total %> invoys</p>
                </div>
                <% }) %>
            </div>
        </div>

    </div>
</div>
<!-- Aylar Popup -->
<div id="monthsPopupOverlay"
    class="hidden fixed inset-0 bg-[#00000033] z-100"></div>
<div id="monthsPopup"
    class="hidden fixed left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[1152px] h-[502px] bg-body-bg dark:bg-side-bar-item-dark text-messages border-[3px] border-[#0000001A] dark:border-[#FFFFFF1A] shadow-md rounded-2xl z-101 p-6">
    <div>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
                <button onclick="goBackToYears()"
                    class="cursor-pointer w-[10px] h-[8px]">
                    <div
                        class="icon stratis-arrow-left text-messages dark:text-primary-text-color-dark "></div>
                </button>
                <h2
                    class="text-[15px] font-semibold text-messages dark:text-primary-text-color-dark mt-2 ml-2">
                    Aylar</h2>
            </div>
            <img src="/images/Sorgular Pages Images/Close.svg" alt="Close"
                class="cursor-pointer dark:hidden"
                onclick="closeMonthsPopup()">
            <img src="/images/avankart-partner-pages-images/Close-dark.svg"
                alt="Close"
                class="cursor-pointer hidden dark:block"
                onclick="closeMonthsPopup()">
        </div>
        <div class="mt-6 ml-3">
            <h3
                class="text-[13px] font-medium text-[#1D222B80] dark:text-primary-text-color-dark ">2024</h3>
            <div class="grid grid-cols-4 gap-5 pt-5" id="yearsPopupMonths">
                <!-- Aylar -->
                <div class="text-left cursor-pointer"
                    onclick="openMonthTable('2024', 0)">
                    <h3
                        class="text-[15px] font-medium text-messages dark:text-primary-text-color-dark">Yanvar</h3>
                    <p
                        class="text-[11px] text-[#1D222B80] dark:text-secondary-text-color-dark mt-2">9
                        invoys</p>
                </div>
            </div>
        </div>
    </div>
</div>
<% styles = `
    <style>
        /* Add this CSS to create the triangle pointer */
        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -8px;
            right: 12px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #ffffff;
            z-index: 51;
        }

        /* Dark mode triangle - matches the dropdown background color exactly */
        .dark .dropdown-menu::before {
            border-bottom-color: #161e22;
        }

        /* Alternative: If you want the triangle to point exactly to the center of the three-dot icon */
        .dropdown-menu::before {
            content: '';
            position: absolute;
            top: -8px;
            right: 8px;
            /* Adjust this value to align with your three-dot icon */
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #ffffff;
            z-index: 51;
        }

        /* If you also want a border on the triangle to match the dropdown border */
        .dropdown-menu::after {
            content: '';
            position: absolute;
            top: -9px;
            right: 8px;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid #0000001A;
            z-index: 50;
        }

        .dark .dropdown-menu::after {
            border-bottom-color: #ffffff1A;
        }



        .dark {
            --table-border-color: #FFFFFF1A;
        }

        :root {
            --table-border-color: #E0E0E0;
        }

        .dark {
            --table-border-color: #FFFFFF1A;
        }

        .dt-column-order {
            display: none !important;
        }

        table,
        thead,
        table.dataTable>thead>tr>th,
        table.dataTable>thead>tr>td,
        table.dataTable>tbody>tr:last-child>*,
        div.dt-container.dt-empty-footer tbody>tr:last-child>* {
            border: none;
            font-weight: 400;
        }

        td {
            padding: 20px;
        }

        .custom-date::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        .value-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        /* Custom slider styles */
        #slider-range {
            height: 6px;
            border: none;
            background: #9C78AE;
            /* Purple background for the entire track */
            border-radius: 3px;
        }

        /* Slider range (colored part between handles) */


        /* Slider handles */
        #slider-range .ui-slider-handle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            border: 4px solid #745086;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            outline: none;
            top: -7px;
            margin-left: -10px;

        }

        .dark .ui-slider-range {
            background-color: #2e3125;
        }

        .ui-slider-range {
            background-color: #e6e6e6;
        }

        .custom-date::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        input[type="date"]::-webkit-inner-spin-button,
        input[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }

        .loading-text {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
            text-align: center;
        }

        .dark .loading-text {
            color: #fff;
            /* yəni Tailwind'dəki 'text-white' */
        }

        .progress-container {
            width: 100%;
            height: 5px;
            background: #ddd;
            border-radius: 3px;
            overflow: hidden;
        }

        .progress-bar {
            height: 100%;
            background: #9C78AE;
            width: 4%;
            transition: width 2s linear;
        }

        .loading-info {
            font-size: 14px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
        }

        .file-item {
            display: flex;
            align-items: center;
            gap: 10px;
            background: #f8f8f8;
            /* light mode üçün */
            padding: 8px;
            border-radius: 5px;
            margin-top: 10px;
        }

        /* dark mode üçün əlavə stil */
        @media (prefers-color-scheme: dark) {
            .file-item {
                background: transparent;
                color: #ffffff;
                border: 1px solid #FFFFFF1A;
            }
        }

        .spinner {
            width: 24px;
            height: 24px;
            border: 3px solid #ccc;
            border-top: 3px solid #007bff;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        #sidebar .overflow-y-auto::-webkit-scrollbar {
            width: 0px;
            /* Scroll barı tam gizlə */
        }

        #sidebar .overflow-y-auto {
            scrollbar-width: none;
            /* Firefox üçün */
            -ms-overflow-style: none;
            /* IE 10+ üçün */
        }

        /* Bu hissəni öz CSS faylında əlavə et */
        .custom-scroll::-webkit-scrollbar {
            width: 6px;
        }

        .custom-scroll::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.15);
            border-radius: 4px;
        }

        .custom-scroll::-webkit-scrollbar-track {
            background-color: transparent;
        }
    </style>
`; %>

<% scripts = `
<script>
        const qovluq = ${JSON.stringify(data.qovluq)}; 
        const mName = {
            "january": "Yanvar",
            "february": "Fevral",
            "march": "Mart",
            "april": "Aprel",
            "may": "May",
            "june": "İyun",
            "july": "İyul",
            "august": "Avqust",
            "september": "Sentyabr",
            "october": "Oktyabr",
            "november": "Noyabr",
            "december": "Dekabr"
        };
        window.globalMaxAmount = ${data?.summary?.maxBalance ?? 4000000};

    </script>
<script src="/js/datatables/datatables.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/uzv-sirket/iscilerinBalansi/hesablasmalarTable.js"></script>
<script src="/js/uzv-sirket/iscilerinBalansi/Pop-up.js"></script>
<script src="/js/uzv-sirket/iscilerinBalansi/range.js"></script>
`; %>